/* Tag Changes */
* {
    box-sizing: inherit;
}

a {
    color: inherit;
    font-weight: inherit;
    text-decoration: inherit;
}

/* Global Page Top */
.top {
    background: linear-gradient(90deg, #26547C, #EF476F) 400% 400%;
}

.border-bottom {
    background-color: white;
}
/* Global Page Top End */

/* Header (Project) */
.project-header {
    background: linear-gradient(90deg, #26547C, #EF476F) 400% 400%;
    display: flex;
    justify-content: space-between;
    height: 90px;
}

.title {
    padding: 20px 10px 5px 10px;
    display: flex;
    align-items: baseline;
    justify-content: start;
}

.title-name {
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    padding-left: 5px;
    padding-right: 5px;
}

.edit-project-button {
    height: 60px;
    width: 60px;
    border-radius: 40px;
    border: none;
    background-color: white;
    color: #336ba1;
}

.edit-project-button:hover {
    background-color: #c2c0c0
}

.project-button-link {
    border-radius: 40px;
    text-decoration: none;
    margin: 20px;
}

.bg-custom {
    background-color: #FFFFFF;
}

.project-desc {
    color: #636363;
    padding-top: 10px;
}
/* Header End */


/* Body (Sprints) */
.body {
    background-color: white;
    margin: 0;
    box-sizing: border-box;
}

/* Sprints-Display */
.content {
    margin: 10px;
    width:calc(100% - 20px);
    background: white;
}

.detail-block {
    /* Border */
    border: 2px solid transparent;
    border-radius: 25px;
    background:
            linear-gradient(to right, whitesmoke, whitesmoke),
            linear-gradient(to right, #06D6A0 , #EF476F);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;

    /* Other styles */
    /*height: 150px;*/
    width: 100%;
    padding: 10px;
    margin: 5px;
}

.bg-custom-desc {
    background: #15be8b;
}

.sprints-top {
    font-weight: bold;
    background: linear-gradient(90deg, #5682b4, #EF476F) 400% 400%;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 2px;
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.sprint-block {
    display:flex;
    width: 100%;
}

.detail-block {
    display: flex;
    justify-content: space-between;
}

.sprint-label {
    height: 120px;
    align-self: center;
    font-weight: bold;
    background: #5682b4;
    border-radius: 15px;
    margin: 10px;
    padding: 2px;
    display: flex;
    justify-content: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: #ffffff;
}

.sprint-title {
    font-weight: bold;
    color: #453737;
    font-size: large;
    word-break: break-all;
}

.sprint-date {
    color: #a0a0a0;
    font-size: small;
}

.sprint-description {
    color: #636363;
    padding-top: 5px;
    word-break: break-all;
}

.evidence-block {
    display:flex;
    width: 100%;
}
.evidence-title {
    font-weight: bold;
    color: #453737;
    font-size: large;
    word-break: break-all;
}
.evidence-description {
    color: #636363;
    word-break: normal;
}
.evidence-date {
    color: #a0a0a0;
    font-size: normal;
    padding-bottom: 10px;
}

.evidence-weblink-title {
    font-weight: bold;
    padding-top: 10px;
}
/* Sprints-Display End */

/* Sprints-Buttons */

.button-divider {
    margin-bottom: 3px;
}

.button-link {
    border-radius: 40px;
    text-decoration: none;
}

.edit-button {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    border: none;
    background-color: #06D6A0;
    color: #0c506b;
}

.edit-event-button {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    border: none;
    background-color: #06D6A0;
    color: #0c506b;
    margin-left: 50px;
}

.edit-button:hover {
    background-color: #05a881
}

.delete-button {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    border: none;
    background-color: #EF476F;
    color: white;
}

.delete-button:hover {
    background-color: #d3254c
}

.add-sprint {
    margin-top: 10px;
    margin-left: auto;
    margin-right: 10px;
    padding: 10px 20px 10px 10px;
    font-size: large;
    border-radius: 10px;
    border: 1px solid #26547C !important; /* Needs to override bootstrap */
    background-color: #336ba1 !important; /* Needs to override bootstrap */
    font-weight: bold;
    width: 140px;
    height: 35px;
    display: flex;
    align-items: center;

}

.add-sprint:hover {
    background-color: #26547C !important; /* Needs to override bootstrap */
}
/* Sprints-Buttons End */

/* Body End */
body{
    background: #F4F7FD;
    margin-top:20px;
}

.card-margin {
    margin-bottom: 1.875rem;
}

.card {
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-break: break-all;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
}

.card .card-header.no-border {
    border: 0;
}
.card .card-header {
    background: none;
    padding: 0 0.9375rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    min-height: 50px;
}
.card-header:first-child {
    border-radius: calc(8px - 1px) calc(8px - 1px) 0 0;
}

.widget-49 .widget-49-title-wrapper {
    display: flex;
    align-items: center;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #edf1fc;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-top: 5px;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-day {
    color: #4e73e5;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-month {
    color: #4e73e5;
    line-height: 1;
    font-size: 1rem;
    text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fcfcfd;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-secondary .widget-49-date-day {
    color: #dde1e9;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-secondary .widget-49-date-month {
    color: #dde1e9;
    line-height: 1;
    font-size: 1rem;
    text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-success {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e8faf8;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-day {
    color: #17d1bd;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-month {
    color: #17d1bd;
    line-height: 1;
    font-size: 1rem;
    text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ebf7ff;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-day {
    color: #36afff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-month {
    color: #36afff;
    line-height: 1;
    font-size: 1rem;
    text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-warning {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: floralwhite;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-day {
    color: #FFC868;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-month {
    color: #FFC868;
    line-height: 1;
    font-size: 1rem;
    text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-danger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #feeeef;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-day {
    color: #F95062;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-month {
    color: #F95062;
    line-height: 1;
    font-size: 1rem;
    text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-light {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fefeff;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-day {
    color: #f7f9fa;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-month {
    color: #f7f9fa;
    line-height: 1;
    font-size: 1rem;
    text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-dark {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ebedee;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-day {
    color: #394856;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-month {
    color: #394856;
    line-height: 1;
    font-size: 1rem;
    text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-base {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f0fafb;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-day {
    color: #68CBD7;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
}

.widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-month {
    color: #68CBD7;
    line-height: 1;
    font-size: 1rem;
    text-transform: uppercase;
}

.widget-49 .widget-49-title-wrapper .widget-49-meeting-info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-pro-title {
    color: #3c4142;
    font-size: 14px;
}

.widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-meeting-time {
    color: #B1BAC5;
    font-size: 13px;
}

.widget-49 .widget-49-meeting-points {
    font-weight: 400;
    font-size: 13px;
    margin-top: .5rem;
}

.widget-49 .widget-49-meeting-points .widget-49-meeting-item {
    color: #727686;
}

.widget-49 .widget-49-meeting-points .widget-49-meeting-item span {
    margin-left: .5rem;
}

.widget-49 .widget-49-meeting-action {
    text-align: right;
}

.widget-49 .widget-49-meeting-action a {
    text-transform: uppercase;
}
.tab-pane-Evidence{
    height:600px;
    overflow-y:scroll;
}

.name-length-message {
    min-height: 24px;
}


.tagBadges:hover {
    background-color:#0d6efd !important;
    color: white !important;
    transition: 0.5s !important;
    cursor: pointer;
}