.header {
    background: linear-gradient(90deg, #26547C, #EF476F) 400% 400%;
    display: flex;
    justify-content: space-between;
    height: 90px;
}

.title {
    padding: 20px 10px 5px 10px;
    display: flex;
    align-items: baseline;
    justify-content: start;
}

.title-name {
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    padding-left: 5px;
    padding-right: 5px;
}

.title-date {
    color: #ffffff99;
    font-size: large;
}

.content {
    margin: 10px;
    width:calc(100% - 20px);
}

.sprint-block {
    display:flex;
    width: 100%;
}

.sprint-label {
    height: 120px;
    align-self: center;
    font-weight: bold;
    background: #5682b4;
    border-radius: 15px;
    margin: 10px;
    padding: 2px;
    display: flex;
    justify-content: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: #ffffff;
}

.sprint-title {
    font-weight: bold;
    color: #453737;
    font-size: large;
}

.sprint-date {
    color: #a0a0a0;
    font-size: small;
}

.sprint-description {
    color: #636363;
    padding-top: 5px;
}

* {
    font-family: 'Helvetica';
    box-sizing: inherit;
}


.edit-button {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    border: none;
    background-color: #06D6A0;
    color: #5e0202;
}
.edit-project-button {
    height: 60px;
    width: 60px;
    border-radius: 40px;
    border: none;
    background-color: white;
    color: #5e0202;
    margin: 20px;
}

.delete-button {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    border: none;
    background-color: #EF476F;
    color: white;
}

.detail-block {
    display: flex;
    justify-content: space-between;
}

a {
    color: inherit;
    font-weight: inherit;
    text-decoration: inherit;
}

.add-sprint {
    margin-top: 10px;
    margin-left: auto;
    margin-right: 10px;
    padding: 10px 20px 10px 10px;
    font-size: large;
    border-radius: 10px;
    border: 1px solid #26547C;
    color: #26547C;
    font-weight: bold;
    min-width: 50px;
    height: 35px;
    display: flex;
    align-items: center;

}

.bg-custom {
    background-color: #FFFFFF;
}

.detail-block {
    /* Border */
    border: 2px solid transparent;
    border-radius: 25px;
    background:
            linear-gradient(to right, whitesmoke, whitesmoke),
            linear-gradient(to right, #06D6A0 , #EF476F);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;

    /* Other styles */
    height: 150px;
    width: 100%;
    padding: 10px;
    margin: 5px;
}


.content {
    background: white;
}

.body {
    background-color: white;
    margin: 0;
    box-sizing: border-box;
}

.top {
    background: linear-gradient(90deg, #26547C, #EF476F) 400% 400%;
}

.border-bottom {
    background-color: white;
}

.bg-custom-desc {
    background: #15be8b;
}

.project-desc {
    color: #636363;
    padding-top: 10px;
}

.sprints-top {
    font-weight: bold;
    background: linear-gradient(90deg, #5682b4, #EF476F) 400% 400%;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 2px;
    display: flex;
    justify-content: center;
    color: #ffffff;
}