<div class="modal fade" id="addDeadlineDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Deadline</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" id="deadlineForm" onsubmit="return validateModalName('deadlineName', 'addDeadlineAlertBanner', 'addDeadlineAlertMessage');" th:action="@{add-deadline}" th:object="${blankDeadline}">
                <div class="modal-body">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="addDeadlineAlertBanner" hidden>
                        <span id="addDeadlineAlertMessage"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="deadlineName" class="col-form-label">Deadline Name:</label>
                    <input onkeyup="updateCharsLeft('deadlineName', 'deadlineLength', 50)" maxlength="50" type="text" class="form-control" id="deadlineName">
                    <div class="name-length-message">
                        <span id="deadlineLength"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="deadlineDate" class="col-form-label">Deadline Date:</label>
                    <div class="input-group date" id="milestoneDateInput">
                        <input onkeydown="return checkDateKeys(milestone)" onchange="validateModalDate('deadlineDate', 'submitDeadlineButton')" type="text" class="form-control" id="deadlineDate">
                        <span class="input-group-append">
                            <span class="input-group-text bg-white">
                                <em class="bi bi-calendar"></em>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" id="submitDeadlineButton" type="submit" disabled>Add Milestone</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    // fills in the date pickers
    $(function() {
        $('#milestoneDateInput input').datepicker({
            format: 'dd/M/yyyy',
            todayHighlight: true,
            todayBtn: true,
            clearBtn: true,
            orientation: 'bottom'
        });
    });
</script>
