<div th:fragment="deadlineModal" class="modal fade" id="deadlineModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deadlineModalTitle">Add Deadline</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeDeadlineModalButton"></button>
      </div>
      <form method="post" id="deadlineForm" onsubmit="validateDeadline(); return false;" th:action="@{add-deadline}">
        <div class="modal-body">
          <div class="alert alert-danger alert-dismissible fade show" role="alert" id="deadlineAlertBanner" hidden>
            <span id="deadlineAlertMessage" data-test-id="alertMessage"></span>
            <button type="button" class="btn-close" onclick="document.getElementById('deadlineAlertBanner').hidden = true" aria-label="Close"></button>
          </div>
          <div class="mb-3">
            <label for="deadlineName" class="col-form-label">Deadline Name:</label>
            <input onkeyup="updateCharsLeft('deadlineName', 'deadlineNameLength', 30)" maxlength="30" type="text" class="form-control" id="deadlineName" name="deadlineName">
            <div class="name-length-message">
              <span id="deadlineNameLength"></span>
            </div>
          </div>
          <div class="alert alert-danger alert-dismissible fade show" role="alert" id="deadlineDateAlertBanner" hidden>
            <span id="deadlineDateAlertMessage" data-test-id="alertMessage"></span>
            <button type="button" class="btn-close" onclick="document.getElementById('deadlineDateAlertBanner').hidden = true" aria-label="Close"></button>
          </div>
          <div class="mb-3">
            <label for="deadlineDate" class="col-form-label">Deadline Date:</label>
            <div class="input-group" id="deadlineDateInput" data-td-target-input="nearest" data-td-target-toggle="nearest">
              <input id="deadlineDate" type="text" class="form-control" data-td-target="#deadlineDateInput"
                     onkeydown="return false" th:name="deadlineDateString" onchange="validateModalDateTime(
                         'deadlineDate', 'deadlineModalButton', 'deadlineDateAlertBanner', 'deadlineDateAlertMessage')"/>
              <span class="input-group-text bg-white" data-td-target="#deadlineDateInput" data-td-toggle="datetimepicker">
                <span class="bi bi-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" id="deadlineModalButton" type="submit">Add Deadline</button>
        </div>
      </form>
    </div>
  </div>
  <script src="js/datepicker.js"></script>
  <script type="text/javascript">

    /**
     * Validates the currently entered information for the deadline and submits the form if it's valid.
     */
    async function validateDeadline() {
      if (validateModalDateTime('deadlineDate', 'deadlineModalButton', 'deadlineDateAlertBanner', 'deadlineDateAlertMessage') &&
              validateModalName('deadlineName', 'deadlineAlertBanner', 'deadlineAlertMessage')) {
        document.getElementById('deadlineForm').onsubmit = () => { return false };
        document.getElementById('deadlineForm').submit();
      }
    }

    deadlineDatePicker = configureDateTimePicker('deadlineDateInput');

  </script>
</div>
