<div th:fragment="eventModal" class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add event</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" id="eventForm" onsubmit="validateEvent(); return false;" th:action="@{add-event}">
        <div class="modal-body">
          <div class="alert alert-danger alert-dismissible fade show" role="alert" id="eventAlertBanner" hidden>
            <span id="eventAlertMessage" data-test-id="alertMessage"></span>
            <button type="button" class="btn-close" onclick="document.getElementById('eventAlertBanner').hidden = true" aria-label="Close"></button>
          </div>
          <div class="mb-3">
            <label for="eventName" class="col-form-label">Event Name:</label>
            <input onkeyup="updateCharsLeft('eventName', 'eventNameLength', 50)" maxlength="50" type="text" class="form-control" id="eventName" name="eventName">
            <div class="name-length-message">
              <span id="eventNameLength"></span>
            </div>
          </div>
          <div class="alert alert-danger alert-dismissible fade show" role="alert" id="eventDateTimeAlertBanner" hidden>
            <span id="eventDateTimeAlertMessage" data-test-id="alertMessage"></span>
            <button type="button" class="btn-close" onclick="document.getElementById('eventDateTimeAlertBanner').hidden = true" aria-label="Close"></button>
          </div>
          <div class="mb-3">
            <label for="eventStartDate" class="col-form-label">Event Start Date:</label>
            <div class="input-group" id="eventStartDateInput" data-td-target-input="nearest" data-td-target-toggle="nearest" >
              <input id="eventStartDate" type="text" class="form-control" data-td-target="#eventStartDateInput"
                     onkeydown="return false" th:name="startDateDetail" onchange="validateModalDateTimeRange(
                             'eventStartDate', 'eventEndDate', 'eventModalButton', 'eventDateTimeAlertBanner',
                             'eventDateTimeAlertMessage')"/>
              <span class="input-group-text bg-white" data-td-target="#eventStartDateInput" data-td-toggle="datetimepicker">
                <span class="bi bi-calendar"></span>
              </span>
            </div>
          </div>
          <div class="mb-3">
            <label for="eventEndDate" class="col-form-label">Event End Date:</label>
            <div class="input-group" id="eventEndDateInput" data-td-target-input="nearest" data-td-target-toggle="nearest">
              <input id="eventEndDate" type="text" class="form-control" data-td-target="#eventEndDateInput" data-td-toggle="datetimepicker"
                     onkeydown="return false" th:name="endDateDetail" onchange="validateModalDateTimeRange(
                             'eventStartDate', 'eventEndDate', 'eventModalButton', 'eventDateTimeAlertBanner',
                             'eventDateTimeAlertMessage')"/>
              <span class="input-group-text bg-white">
                <span class="bi bi-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" id="eventModalButton" type="submit">Add event</button>
        </div>
      </form>
    </div>
  </div>
  <script src="js/datepicker.js"></script>
  <script type="text/javascript">

    /**
     * Validates the currently entered information for the event and submits the form if it's valid.
     */
    async function validateEvent() {
      if (validateModalDateTimeRange('eventStartDate', 'eventEndDate', 'submitEventButton', 'eventDateTimeAlertBanner', 'eventDateTimeAlertMessage') &&
              validateModalName('eventName', 'eventAlertBanner', 'eventAlertMessage')) {
        document.getElementById('eventForm').submit();
      }
    }

    eventStartDatePicker = configureDateTimePicker('eventStartDateInput');
    eventEndDatePicker = configureDateTimePicker('eventEndDateInput');

  </script>
</div>
