<div th:fragment="eventModal" class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add event</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeEventModalButton"></button>
      </div>
      <form method="post" id="eventForm" onsubmit="validateEvent(); return false;" th:action="@{add-event}">
        <div class="modal-body" id="eventModalBody" th:fragment="eventModalBody">
          <div class="alert alert-danger alert-dismissible fade show" role="alert" id="eventAlertBanner" th:hidden="${eventAlertMessage==null}">
            <span id="eventAlertMessage" data-test-id="alertMessage" th:text="${eventAlertMessage}"></span>
            <button type="button" class="btn-close" onclick="document.getElementById('eventAlertBanner').hidden = true" aria-label="Close"></button>
          </div> 
          <div class="mb-3">
            <label for="eventName" class="col-form-label">Event Name:</label>
            <input onkeyup="updateCharsLeft('eventName', 'eventNameLength', 30)" maxlength="30" type="text" class="form-control" id="eventName" name="eventName">
            <div class="name-length-message">
              <span id="eventNameLength"></span>
            </div>
          </div>
          <div class="alert alert-danger alert-dismissible fade show" role="alert" id="eventDateTimeAlertBanner" th:hidden="${eventDateTimeAlertMessage==null}">
            <span id="eventDateTimeAlertMessage" data-test-id="alertMessage" th:text="${eventDateTimeAlertMessage}"></span>
            <button type="button" class="btn-close" onclick="document.getElementById('eventDateTimeAlertBanner').hidden = true" aria-label="Close"></button>
          </div>
          <div class="mb-3">
            <label for="eventStartDate" class="col-form-label">Event Start Date:</label>
            <div class="input-group" id="eventStartDateInput" data-td-target-input="nearest" data-td-target-toggle="nearest" >
              <input id="eventStartDate" type="text" class="form-control" data-td-target="#eventStartDateInput"
                     onkeydown="return false" th:name="startDateDetail" onchange="validateModalDateTimeRange(
                             'eventStartDate', 'eventEndDate', 'eventModalButton', 'eventDateTimeAlertBanner',
                             'eventDateTimeAlertMessage')"/>
              <span class="input-group-text bg-white" data-td-target="#eventStartDateInput" data-td-toggle="datetimepicker">
                <span class="bi bi-calendar"></span>
              </span>
            </div>
          </div>
          <div class="mb-3">
            <label for="eventEndDate" class="col-form-label">Event End Date:</label>
            <div class="input-group" id="eventEndDateInput" data-td-target-input="nearest" data-td-target-toggle="nearest">
              <input id="eventEndDate" type="text" class="form-control" data-td-target="#eventEndDateInput"
                     onkeydown="return false" th:name="endDateDetail" onchange="validateModalDateTimeRange(
                             'eventStartDate', 'eventEndDate', 'eventModalButton', 'eventDateTimeAlertBanner',
                             'eventDateTimeAlertMessage')"/>
              <span class="input-group-text bg-white" data-td-target="#eventEndDateInput" data-td-toggle="datetimepicker">
                <span class="bi bi-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" id="eventModalButton" type="submit">Add event</button>
        </div>
      </form>
    </div>
  </div>
  <script src="js/datepicker.js"></script>
  <script src="js/textValidation.js"></script>
  <script type="text/javascript">

    /**
     * Validates the currently entered information for the event and submits the form if it's valid.
     */
    async function validateEvent() {
      if (validateModalDateTimeRange('eventStartDate', 'eventEndDate', 'submitEventButton', 'eventDateTimeAlertBanner', 'eventDateTimeAlertMessage') &&
              validateModalName('eventName', 'eventAlertBanner', 'eventAlertMessage')) {
        removeInvalidCharacters('eventName');
        document.getElementById('eventForm').onsubmit = () => { return false };

        submitEvent()

        document.getElementById('eventForm').onsubmit = () => { validateEvent(); return false };

      }
    }

    let eventStartDatePicker;
    let eventEndDatePicker;

    /**
     * Configures the date pickers for the modal.
     */
    function configureEventDatePickers() {
      eventStartDatePicker = configureDateTimePicker('eventStartDateInput');
      eventEndDatePicker = configureDateTimePicker('eventEndDateInput');
      eventStartDatePicker.updateOptions({restrictions: {minDate: new Date(projectStartDate), maxDate: new Date(projectEndDate)}});
      eventEndDatePicker.updateOptions({restrictions: {minDate: new Date(projectStartDate), maxDate: new Date(projectEndDate)}});
    }

    configureEventDatePickers()


    /**
     * Submit an event when adding or editing an event. Creates a post request and shows errors if needed.
     */
    function submitEvent() {
      // Info of event to submit
      let startDate = new Date(document.getElementById('eventStartDate').value);
      if (startDate.toString() === "Invalid Date") {
        startDate = new Date("01/01/1970");
      }
      let endDate = new Date(document.getElementById('eventEndDate').value);
      if (endDate.toString() === "Invalid Date") {
        endDate = new Date("01/01/1970");
      }
      const data = {
        eventName: document.getElementById('eventName').value,
        eventStartDate: startDate,
        eventEndDate: endDate,
        parentProjectId: 0
      }

      // Post for adding or editing
      $.post(document.getElementById('eventForm').action + "?" + new URLSearchParams(data)).done((ignoredResult) => {
        $('#eventModal').modal('toggle')
        sendSavedLiveNotificationRequest('Event');
      }).fail((response) => {
        // Add errors to modal
        let listOfAlertsChanged = $(response.responseText).find("div.alert");
        let listOfAlertsReal = $("#eventModalBody").find("div.alert");
        for (let i = 0; i < listOfAlertsChanged.length; i++) {
          if (listOfAlertsChanged[i].getElementsByTagName("span")[0].innerHTML !== "") {
            $("#" + listOfAlertsReal[i].id).replaceWith(listOfAlertsChanged[i])
            listOfAlertsReal[i].setAttribute("hidden", null);
          }
        }
        // Update general values of the modal
        updateCharsLeft('eventName', 'eventNameLength', 30)
        const startDate = moment($("#" + eventStartDate).val(), 'DD/MMM/yyyy h:mm a').toDate();
        eventStartDatePicker.dates.setValue(tempusDominus.DateTime.convert(startDate));
        const endDate = moment($("#" + eventEndDate).val(), 'DD/MMM/yyyy h:mm a').toDate();
        eventEndDatePicker.dates.setValue(tempusDominus.DateTime.convert(endDate));
        configureEventDatePickers();

      })
    }

    disallowInvalidCharacters('eventName');
  </script>
</div>
