<div id="evidenceList" th:fragment="evidenceList">
  <div th:each="evidence, meta: ${evidences}">
    <div class="evidence-block">
      <div class="detail-block">
        <div class="evidence-info-block" th:if="${evidence}">
          <button th:id="evidenceDropdown + (${meta.index} + 1)" class="btn" type="button" data-bs-toggle="collapse" th:attr="data-bs-target='#collapseEvidence' + ${evidence.getEvidenceId()}, aria-controls='collapseEvidence' + ${evidence.getEvidenceId()}, onClick='changeIcon(evidenceArrow' + (${meta.index} + 1) + ')'" aria-expanded="false" style="outline: none; box-shadow: none;">
            <span class="evidence-title" th:text="${evidence.getTitle}"></span>
            <svg th:id="evidenceArrow + (${meta.index} + 1)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
              <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
            </svg>
          </button>
          <div class="evidence-date ps-3" th:text="${evidence.getDateString}"></div>
          <div class="collapse ps-3 pb-3" th:id="collapseEvidence + ${evidence.getEvidenceId()}">
            <b>Description:</b>
            <div class="evidence-description" th:text="${evidence.getDescription}"></div>
            <div class="evidence-block-heading" th:if="${!evidence.getWebLinks().isEmpty()}">Weblinks:</div>
            <div th:each="webLink, meta: ${evidence.getWebLinks()}">
              <div th:if="${webLink.getFormattedUrl()} != 'InvalidURL'" class="chip" th:id="'weblinkurlDisplay' + ${meta}" style="display: inline-block;padding: 0 12px 0 15px;height: fit-content;font-size: 16px;line-height: 30px;border-radius: 25px;background-color: #f1f1f1f1;margin: 0 10px 10px 0;" data-toggle="tooltip" data-bs-placement="right" th:title="${webLink.getUrl()}">
                <div class="d-flex justify-content-between flex-row align-items-center">
                  <i th:class="${webLink.isSecure()} ? 'bi bi-lock' : 'bi bi-unlock'"></i>
                  <span style="margin-right: 10px; margin-left: 10px" th:text="${webLink.getFormattedUrl()}"></span>
                  <a th:href="${webLink.getUrl()}" target="_blank">
                    <i class="bi bi-box-arrow-up-right"></i>
                  </a>
                </div>
              </div>
            </div>

            <div class="evidence-block-heading" th:if="${!evidence.getCategories().isEmpty()}">Categories:</div>
            <div class="row-1" style="display: flex; flex-wrap: wrap">
              <div th:each="category, meta: ${evidence.getCategories()}">
                <div th:if="${category.getCategoryName()} != 'InvalidCategory'" th:onclick="|redirectToTagPage('${viewedUserId}', '${category.getCategoryId()}', 'Categories')|"  class="chip tagBadges" th:id="'categoryDisplay' + ${meta}" style="display: inline-block;padding: 0 12px 0 15px;height: fit-content;font-size: 16px;line-height: 30px;border-radius: 25px;background-color: #f1f1f1f1;margin: 0 10px 10px 0;" data-toggle="tooltip" data-bs-placement="right" th:title="${category.getCategoryName()}">
                  <div class="d-flex justify-content-between flex-row align-items-center">
                    <span style="margin-right: 10px; margin-left: 10px" th:text="${category.getCategoryName()}"></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="evidence-block-heading" th:if="${!evidence.getTags().isEmpty()}">Skill Tags:</div>
            <div class="row-1" style="display: flex; flex-wrap: wrap">
              <div th:each="skillTag, meta: ${evidence.getTags()}">
                <div th:if="${skillTag.getTagName()} != 'InvalidTag'" th:onclick="|redirectToTagPage('${viewedUserId}', '${skillTag.getTagId()}', 'Skills')|" class="chip tagBadges" th:id="'skillTagDisplay' + ${meta}" style="display: inline-block;padding: 0 12px 0 15px;height: fit-content;font-size: 16px;line-height: 30px;border-radius: 25px;background-color: #f1f1f1f1;margin: 0 10px 10px 0;" data-toggle="tooltip" data-bs-placement="right" th:title="${skillTag.getTagName()}">
                  <div class="d-flex justify-content-between flex-row align-items-center">
                    <span style="margin-right: 10px; margin-left: 10px" th:text="${skillTag.getTagName()}"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <script th:inline="javascript">
            buttonId = /*[['evidenceDropdown' + (${meta.index} + 1)]]*/ null;
            arrowId = /*[['evidenceArrow' + (${meta.index} + 1)]]*/ null;
            collapseId = /*[['collapseEvidence' + ${evidence.getEvidenceId()}]]*/ null;
            setToggle(buttonId, arrowId, collapseId);
          </script>
        </div>
      </div>
    </div>
  </div>
  <!-- THIS BLOCK IS USED TO DISPLAY A NOTE THAT NO EVIDENCE HAS BEEN FOUND -->
  <div class="evidence-block" th:if="${evidences.isEmpty()}">
    <div class="detail-block">
      <div class="evidence-info-block">
        <blockquote class="blockquote text-center">
          <h2>No Evidence Found!</h2>
        </blockquote>
      </div>
    </div>
  </div>
</div>