<div th:fragment="evidenceModal" class="modal fade" id="evidenceModal" tabindex="-1" role="dialog" aria-labelledby="evidenceModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="evidenceModalTitle">Add Evidence</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeEvidenceModalButton"></button>
            </div>
            <div>
                <form method="post" id="evidenceForm" onsubmit="validateEvidence(); return false" th:action="@{add-evidence}">
                    <div class="modal-body" id="evidenceModalBody" th:fragment="evidenceModalBody">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="evidenceTitleAlertBanner" th:hidden="${evidenceTitleAlertMessage==null}">
                            <span id="evidenceTitleAlertMessage" data-test-id="alertMessage" th:text="${evidenceTitleAlertMessage}"></span>
                            <button type="button" class="btn-close" onclick="document.getElementById('evidenceTitleAlertBanner').hidden = true" aria-label="Close"></button>
                        </div>
                        <div class="mb-3">
                            <label for="evidenceTitle" class="col-form-label">Title(*):</label>
                            <input onkeyup="{updateCharsLeft('evidenceTitle', 'evidenceTitleLength', 30);isEvidenceInputFieldFilled()}" maxlength="30" type="text"
                                   class="form-control" onkeydown="isEvidenceInputFieldFilled()" id="evidenceTitle" name="title" th:value="${evidence?.title}">
                            <div class="name-length-message">
                                <span id="evidenceTitleLength"></span>
                            </div>
                        </div>

                        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="evidenceDescriptionAlertBanner" th:hidden="${evidenceDescriptionAlertMessage==null}">
                            <span id="evidenceDescriptionAlertMessage" data-test-id="alertMessage" th:text="${evidenceDescriptionAlertMessage}"></span>
                            <button type="button" class="btn-close" onclick="document.getElementById('evidenceDescriptionAlertBanner').hidden = true" aria-label="Close"></button>
                        </div>
                        <div class="mb-3">
                            <label for="evidenceDescription" class="col-form-label">Description(*):</label>
                            <input onkeyup="{updateCharsLeft('evidenceDescription', 'evidenceDescriptionLength', 250);isEvidenceInputFieldFilled()}" maxlength="250" type="text"
                                   class="form-control" id="evidenceDescription" name="description" th:value="${evidence?.description}">
                            <div class="name-length-message">
                                <span id="evidenceDescriptionLength"></span>
                            </div>
                        </div>

                        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="evidenceDateAlertBanner" hidden>
                            <span id="evidenceDateAlertMessage" data-test-id="alertMessage"></span>
                            <button type="button" class="btn-close" onclick="document.getElementById('evidenceDateAlertBanner').hidden = true" aria-label="Close"></button>
                        </div>
                        <div class="mb-3">
                            <label for="evidenceDate" class="col-form-label">Date(*):</label>
                            <button type="button" id="questionToolTip" class="btn" style="margin: 0; padding: 0" data-bs-toggle="tooltip" data-bs-placement="right" title="This date should indicate the day that the evidence took place. ">
                                <span class="bi bi-question-circle"></span>
                            </button>
                            <div class="input-group" id="evidenceDateInput" data-td-target-input="nearest" data-td-target-toggle="nearest">
                                <input id="evidenceDate" type="text" class="form-control" data-td-target="#evidenceDateInput"
                                       onkeydown="return false" th:name="evidenceDateString" onchange="validateModalDateTime(
                                            'evidenceDate', 'evidenceModalButton', 'evidenceDateAlertBanner', 'evidenceDateAlertMessage')"/>
                                <span class="input-group-text bg-white" data-td-target="#evidenceDateInput" data-td-toggle="datetimepicker">
                                <span class="bi bi-calendar"></span>
                            </span>
                            </div>
                        </div>

<!--                        weblinks-->
                        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="evidenceWebLinksAlertBanner" th:hidden="${evidenceDescriptionAlertMessage==null}">
                            <span id="evidenceWebLinksAlertMessage" data-test-id="alertMessage" th:text="${evidenceWebLinksAlertMessage}"></span>
                            <button type="button" class="btn-close" onclick="document.getElementById('addWeblinksAlertBanner').hidden = true" aria-label="Close"></button>
                        </div>
                        <div class="mb-3">
                            <label for="evidenceWeblink" class="col-form-label">Web Links:</label>
                            <div class="input-group mb-3">
                                <input id="evidenceWeblink" onkeyup="{updateCharsLeft('evidenceWeblink', 'evidenceWebLinkLength', 250);isEvidenceInputFieldFilled()}"
                                       maxlength="250" type="text" class="form-control" placeholder="e.g. https://www.example.com" aria-label="Add Web links"
                                       aria-describedby="button-addon2" name="evidenceWeblink" th:value="${currentWebLink?.url}">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="addWebLinks()">Add</button>
                            </div>
                            <div class="name-length-message">
                                <span id="evidenceWebLinkLength"></span>
                            </div>
                            <div id="webLinkList">

                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary disabled" id="evidenceModalButton" type="submit">Add Evidence</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="js/datepicker.js"></script>
    <script type="text/javascript">
        let tooltip = null;
        /**
         * Sets up date picker and tooltip for evidence date input. Runs in the modal html.
         */
        function configureEvidenceDatePicker() {
            evidenceDatePicker = configureDateTimePicker('evidenceDateInput');

            tooltip = new bootstrap.Tooltip($("#questionToolTip"))
        }

        configureEvidenceDatePicker();

        let webLinksList = [];
        let weblinkId = 1;
        function addWebLinks(){

            const url = document.getElementById("evidenceWeblink").value;
            //validate
            $("#webLinkList").append(`<div class="chip" id='weblinkurl${weblinkId}' style="display: inline-block;padding: 0 25px;height: 50px;font-size: 16px;line-height: 50px;border-radius: 25px;background-color: #f1f1f1f1;margin: 0 5px 5px 0;">
                                ${url}
                                <button onclick="removeWebLink('weblinkurl${weblinkId}')" type="button" class="btn-close" aria-label="Close"></button>
                            </div>`);
            weblinkId += 1;

            $("#evidenceWeblink").val("");
            //add to list
            webLinksList.add(url);
        }

        function removeWebLink(id) {
            $("#" + id).remove();
        }


    </script>
</div>
