<div th:fragment="evidenceModal" class="modal fade" id="evidenceModal" tabindex="-1" role="dialog" aria-labelledby="evidenceModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="evidenceModalTitle">Add Evidence</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeEvidenceModalButton"></button>
            </div>
            <div>
                <form method="post" id="evidenceForm" onsubmit="validateEvidence(); return false" th:action="@{add-evidence}">
                    <div class="modal-body" id="evidenceModalBody" th:fragment="evidenceModalBody">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="evidenceTitleAlertBanner" th:hidden="${evidenceTitleAlertMessage==null}">
                            <span id="evidenceTitleAlertMessage" data-test-id="alertMessage" th:text="${evidenceTitleAlertMessage}"></span>
                            <button type="button" class="btn-close" onclick="document.getElementById('evidenceTitleAlertBanner').hidden = true" aria-label="Close"></button>
                        </div>
                        <div class="mb-3">
                            <label for="evidenceTitle" class="col-form-label">Title(*):</label>
                            <input onkeyup="{updateCharsLeft('evidenceTitle', 'evidenceTitleLength', 30);isEvidenceInputFieldFilled()}" maxlength="30" type="text"
                                   class="form-control" onkeydown="isEvidenceInputFieldFilled()" id="evidenceTitle" name="title" th:value="${evidence?.title}">
                            <div class="name-length-message">
                                <span id="evidenceTitleLength"></span>
                            </div>
                        </div>

                        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="evidenceDescriptionAlertBanner" th:hidden="${evidenceDescriptionAlertMessage==null}">
                            <span id="evidenceDescriptionAlertMessage" data-test-id="alertMessage" th:text="${evidenceDescriptionAlertMessage}"></span>
                            <button type="button" class="btn-close" onclick="document.getElementById('evidenceDescriptionAlertBanner').hidden = true" aria-label="Close"></button>
                        </div>
                        <div class="mb-3">
                            <label for="evidenceDescription" class="col-form-label">Description(*):</label>
                            <input onkeyup="{updateCharsLeft('evidenceDescription', 'evidenceDescriptionLength', 250);isEvidenceInputFieldFilled()}" maxlength="250" type="text"
                                   class="form-control" id="evidenceDescription" name="description" th:value="${evidence?.description}">
                            <div class="name-length-message">
                                <span id="evidenceDescriptionLength"></span>
                            </div>
                        </div>

                        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="evidenceDateAlertBanner" th:hidden="${evidenceDateAlertMessage==null}">
                            <span id="evidenceDateAlertMessage" data-test-id="alertMessage" th:text="${evidenceDateAlertMessage}"></span>
                            <button type="button" class="btn-close" onclick="document.getElementById('evidenceDateAlertBanner').hidden = true" aria-label="Close"></button>
                        </div>
                        <div class="mb-3">
                            <label for="evidenceDate" class="col-form-label">Date(*):</label>
                            <button type="button" id="questionToolTip" class="btn" style="margin: 0; padding: 0" data-bs-toggle="tooltip" data-bs-placement="right" title="This date should indicate the day that the evidence took place. You can only select a date that is within the project's start and end dates. ">
                                <span class="bi bi-question-circle"></span>
                            </button>
                            <div class="input-group" id="evidenceDateInput" data-td-target-input="nearest" data-td-target-toggle="nearest">
                                <input id="evidenceDate" type="text" class="form-control" data-td-target="#evidenceDateInput"
                                       onkeydown="return false" th:name="evidenceDateString" onchange="validateModalDateTime(
                                            'evidenceDate', 'evidenceModalButton', 'evidenceDateAlertBanner', 'evidenceDateAlertMessage')"/>
                                <span class="input-group-text bg-white" data-td-target="#evidenceDateInput" data-td-toggle="datetimepicker">
                                <span class="bi bi-calendar"></span>
                            </span>
                            </div>
                        </div>

<!--                        weblinks-->
                        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="evidenceWebLinksAlertBanner" th:hidden="${evidenceWebLinksAlertMessage==null}">
                            <span id="evidenceWebLinksAlertMessage" data-test-id="alertMessage" th:text="${evidenceWebLinksAlertMessage}"></span>
                            <button type="button" class="btn-close" onclick="document.getElementById('evidenceWebLinksAlertBanner').hidden = true" aria-label="Close"></button>
                        </div>
                        <div class="mb-3">
                            <label for="evidenceWeblink" class="col-form-label">Web Links:</label>
                            <div class="input-group mb-3">
                                <input id="evidenceWeblink" onkeyup="{updateCharsLeft('evidenceWeblink', 'evidenceWebLinkLength', 250);isEvidenceInputFieldFilled()}"
                                       maxlength="250" type="url" class="form-control" placeholder="e.g. https://www.example.com" aria-label="Add Web links"
                                       aria-describedby="button-addon2" name="evidenceWeblink" th:value="${currentWebLink?.url}">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="addWebLinks()">Add</button>
                            </div>
                            <div class="name-length-message">
                                <span id="evidenceWebLinkLength"></span>
                            </div>
                            <div id="webLinkList">

                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary disabled" id="evidenceModalButton" type="submit">Add Evidence</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="js/datepicker.js"></script>
    <script type="text/javascript">
        const MAX_NUM_WEBLINKS = 10;
        let tooltip = null;
        /**
         * Sets up date picker and tooltip for evidence date input. Runs in the modal html.
         */
        function configureEvidenceDatePicker() {
            evidenceDatePicker = configureDateTimePicker('evidenceDateInput');

            new bootstrap.Tooltip($("#questionToolTip"));
        }

        configureEvidenceDatePicker();

        let webLinksList = [];
        let weblinkId = 1;

        /**
         * Adds a web link to the list of web links.
         */
        function addWebLinks(){

            const urlString = document.getElementById("evidenceWeblink").value;
            //validate
            if (!isValidUrl(urlString)) {
                $("#evidenceWebLinksAlertMessage").text("Please enter a valid URL.");
                document.getElementById("evidenceWebLinksAlertBanner").removeAttribute("hidden");
            } else {
                if (webLinksList.length < MAX_NUM_WEBLINKS) {
                    let displayUrlString = "";
                    let splitIndex = urlString.indexOf("://");
                    if (splitIndex !== -1) {
                        displayUrlString = urlString.substring(splitIndex + 3);
                    } else {
                        displayUrlString = urlString;
                    }
                    if (displayUrlString.length > 30) {
                        displayUrlString = displayUrlString.substring(0, 29) + "...";
                    }


                    $("#webLinkList").append(`<div class="chip" id='weblinkurl${weblinkId}' style="display: inline-block;padding: 0 12px 0 15px;height: fit-content;font-size: 16px;line-height: 30px;border-radius: 25px;background-color: #f1f1f1f1;margin: 0 10px 10px 0;" data-toggle="tooltip" data-bs-placement="right" title="${urlString}">
                                <div class="d-flex justify-content-between flex-row align-items-center">
                                    <span style="margin-right: 10px">${displayUrlString}</span>
                                    <button onclick="removeWebLink('weblinkurl${weblinkId}')" type="button" class="btn-close" aria-label="Close"></button>
                                </div>
                            </div>`);
                    weblinkId += 1;

                    $('[data-toggle="tooltip"]').tooltip();

                    $("#evidenceWeblink").val("");
                    updateCharsLeft('evidenceWeblink', 'evidenceWebLinkLength', 250);
                    //add to list
                    webLinksList.push(urlString);
                } else {
                    $("#evidenceWebLinksAlertMessage").text("You can only add up to " + MAX_NUM_WEBLINKS + " web links.");
                    document.getElementById("evidenceWebLinksAlertBanner").removeAttribute("hidden");
                }
            }


        }

        /**
         * Removes a web link from the list of web links.
         * @param id the id of the web link to remove
         */
        function removeWebLink(id) {
            let urlHTML = $("#" + id);
            let urlString = urlHTML.attr("data-bs-original-title");
            for (let i = 0; i < webLinksList.length; i++) {
                if (webLinksList[i] === urlString) {
                    webLinksList.splice(i, 1);
                    break;
                }
            }
            urlHTML.tooltip('dispose');
            urlHTML.remove();
        }

        /**
         * Method to use regex to validate a URL String
         * inspired by https://www.freecodecamp.org/news/check-if-a-javascript-string-is-a-url/#:~:text=You%20can%20use%20the%20URLConstructor,given%20URL%20is%20not%20valid.
         * @param urlString the url string to validate
         * @returns {boolean} true if valid, false otherwise
         */
        function isValidUrl(urlString) {
            const urlPattern = new RegExp('^(https?:\\/\\/)?'+ // validate protocol
                '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // validate domain name
                '((\\d{1,3}\\.){3}\\d{1,3}))'+ // validate OR ip (v4) address
                '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // validate port and path
                '(\\?[;&a-z\\d%_.~+=-]*)?'+ // validate query string
                '(\\#[-a-z\\d_]*)?$','i'); // validate fragment locator
            return !!urlPattern.test(urlString);
        }

        document.getElementById("evidenceModal").addEventListener("hidden.bs.modal", function () {
            document.getElementById("evidenceModalButton").classList.add("disabled");
            document.getElementById("evidenceTitleAlertBanner").hidden = true;
            document.getElementById("evidenceDescriptionAlertBanner").hidden = true;
            document.getElementById("evidenceDateAlertBanner").hidden = true;
            document.getElementById("evidenceWebLinksAlertBanner").hidden = true;
            webLinksList = [];
            $("#webLinkList").empty();
            updateCharsLeft('evidenceTitle', 'evidenceTitleLength', 250);
            updateCharsLeft('evidenceDescription', 'evidenceDescriptionLength', 250);
            updateCharsLeft('evidenceWeblink', 'evidenceWebLinkLength', 250);
        });

    </script>
</div>
