<div th:fragment="groupModal" class="modal fade" id="groupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Group</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeGroupModalButton"></button>
      </div>
      <div class="modal-body">

        <form method="post" id="groupForm" onsubmit="validateGroup(); return false" th:action="@{add-group}">
          <div class="modal-body">
            <div class="alert alert-danger alert-dismissible fade show" role="alert" id="groupShortNameAlertBanner" hidden>
              <span id="groupShortNameAlertMessage" data-test-id="alertMessage"></span>
              <button type="button" class="btn-close" onclick="document.getElementById('groupAlertBanner').hidden = true" aria-label="Close"></button>
            </div>
            <div class="mb-3">
              <label for="shortGroupName" class="col-form-label">Short Group Name:</label>
              <input onkeyup="updateCharsLeft('shortGroupName', 'shortGroupNameLength', 10)" maxlength="10" type="text" class="form-control" id="shortGroupName" name="shortGroupName">
              <div class="name-length-message">
                <span id="shortGroupNameLength"></span>
              </div>
            </div>

            <div class="mb-3">
              <label for="longGroupName" class="col-form-label">Long Group Name:</label>
              <input onkeyup="updateCharsLeft('longGroupName', 'longGroupNameLength', 30)" maxlength="30" type="text" class="form-control" id="longGroupName" name="longGroupName">
              <div class="name-length-message">
                <span id="longGroupNameLength"></span>
              </div>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" id="groupLongNameAlertBanner" hidden>
              <span id="groupLongNameAlertMessage" data-test-id="alertMessage"></span>
              <button type="button" class="btn-close" onclick="document.getElementById('groupDateTimeAlertBanner').hidden = true" aria-label="Close"></button>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" id="groupModalButton" type="submit">Add group</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<script>
  async function validateGroup() {
    if (validateModalName('shortGroupName', 'groupShortNameAlertBanner', 'groupShortNameAlertMessage')
    && validateModalName("longGroupName", 'groupLongNameAlertBanner', 'groupLongNameAlertMessage')
    ) {
      document.getElementById('groupForm').onsubmit = () => { return false };
      document.getElementById('groupForm').submit();
    };

  }


</script>