<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="webjars/jquery/3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.4.0/js/dataTables.select.min.js"></script>
</head>
<body>
<div class="toast-container position-fixed bottom-0 end-1 p-3" style="z-index: 2000 ">
    <div th:each="toast, meta: ${toastsToGenerate}">
        <div class="toast text-white bg-primary" role="alert" aria-live="assertive" aria-atomic="true" th:id="${#ids.seq('liveToastHighfive')}" data-bs-autohide="false" data-bs-animation="false">
            <div class="toast-header">
                <strong class="me-auto" th:id="${#ids.seq('toastTitleHighfive')}"></strong>
            </div>
            <div class="toast-body" th:id="${#ids.seq('popupTextHighfive')}"></div>
        </div>
    </div>
</div>
<header class="p-3 mb-3 border-bottom" th:fragment="header">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap" /></svg>
            </a>
            <a class="navbar-brand">
                <img th:src="@{images/T100Logo.png}" alt="" width="40" height="40">
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><form>
                    <div>
                        <input type="hidden" th:value="${userId}" name="userId">
                        <button type="submit" class="btn btn-link" id="projectsHeaderButton" style="color:black;text-decoration: none;" >  <a th:href="@{details}" class="nav-link px-2 link-secondary">Projects</a>
                        </button>
                    </div>
                </form></li>
                <li><form>
                    <div>
                        <input type="hidden" th:value="${userId}" name="userId">
                        <button type="submit" class="btn btn-link" id="usersHeaderButton" style="color:black;text-decoration: none;" >  <a th:href="@{viewUsers}" class="nav-link px-2 link-secondary">Users</a>
                        </button>
                    </div>
                </form></li>
                <li><form>
                    <div>
                        <input type="hidden" th:value="${userId}" name="userId">
                        <button type="submit" class="btn btn-link" style="color:black;text-decoration: none;" ><a th:href="@{calendar}" class="nav-link px-2 link-secondary">Calendar</a></button>
                    </div>

                </form></li>
                <li><form>
                    <div>
                        <input type="hidden" th:value="${userId}" name="userId">
                        <button id="groupButton" type="submit" class="btn btn-link" style="color:black;text-decoration: none;" ><a th:href="@{groups}" class="nav-link px-2 link-secondary">Groups</a></button>
                    </div>

                </form></li>
                <li><form>
                    <div>
                        <input type="hidden" th:value="${userId}" name="userId">
                        <button id="userSearchButton" type="submit" class="btn btn-link" style="color:black;text-decoration: none;" ><a th:href="@{viewUsersSearch}" class="nav-link px-2 link-secondary">Evidence</a></button>
                    </div>

                </form></li>
                <li><form>
                    <div>
                        <input type="hidden" th:value="${userId}" name="userId">
                        <button id="Leaderboard" type="submit" class="btn btn-link" style="color:black;text-decoration: none;" ><a th:href="@{leaderboard}" class="nav-link px-2 link-secondary">Leaderboard</a></button>
                    </div>

                </form></li>
            </ul>
            <div class="dropdown text-end" style="display: flex; flex-direction: row; align-items: center; z-index: auto">
                <h6 th:text="${headerFullName}" style="margin-right: 5px;padding-top: 5px"></h6>
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" >
                    <img id="userIconSmall" th:src="${userImage}" alt="" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                    <li><a>
                        <div>
                            <input type="hidden" th:value="${userId}" name="userId">
                            <button id="profileButton" th:onclick="redirectToProfilePage()" class="btn btn-link dropdown-item" style="color:black;text-decoration: none;">Profile</button>
                        </div>
                    </a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a>
                        <div>
                            <input type="hidden" th:value="${userId}" name="userId">
                            <button id="profileEvidenceButton" th:onclick="redirectToEvidencePage()" class="btn btn-link dropdown-item" style="color:black;text-decoration: none;">Evidence</button>
                        </div>
                    </a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a id="signOutButton" class="dropdown-item" th:href="@{logout}">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<script src="js/Notification.js" type="application/javascript"></script>
<script th:inline="javascript">
    let stompClientHeader;
    /*<![CDATA[*/
    /**
     * Redirect user to their profile page.
     */
    function redirectToProfilePage() {
        localStorage.setItem('tab', 'profile-tab');
        document.location.href = 'account?userId=' + /*[[${userId}]]*/ null;
    }

    /**
     * Redirect user to their evidence page.
     */
    function redirectToEvidencePage() {
        localStorage.setItem('tab', 'evidence-tab');
        document.location.href = 'account?userId=' + /*[[${userId}]]*/ null;
    }
    /*]]>*/

    /**
     * Holds a list of Notification objects that are, or have been active. Can only be as long as listOfHTMLToasts.
     * @type {[Notification]}
     */
    let listOfNotificationsHeader = [];

    /**
     * List of html toast object pairs that hold a Bootstrap toast object, a body text variable and a title text variable.
     * These can be assigned to Notification objects to display them.
     * @type {[{'toast', 'text', 'title'}]}
     */
    let listOfHTMLToastsHeader = [];

    /**
     * This connects the header (which is on all pages) to the highfived notification end points
     * so users can always see the notification of when a piece of evidence was highfived.
     */
    function connectHeader() {
        let socket = new SockJS('mywebsockets');
        stompClientHeader = Stomp.over(socket);
        stompClientHeader.debug = null;
        stompClientHeader.connect({}, function (frame) {
            stompClientHeader.subscribe('/webSocketGet/notification-of-highfive', function (HighFivedResponseArg) {
                const highFivedResponse = JSON.parse(HighFivedResponseArg.body);
                if (highFivedResponse.receivingUserId == /*[[${userId}]]*/ null) {
                    showHighFiveToast(
                        highFivedResponse.sendingUserId,
                        highFivedResponse.receivingUserId,
                        highFivedResponse.sendingUserFullName,
                        highFivedResponse.sendingEvidenceTitle,
                        highFivedResponse.sendingEvidenceId
                    );
                }
            });
        });
    }

    /**
     * This method is what creates and shows the notification along with setting their timeout periods.
     *
     * @param userId            The user that has highfived the evidence.
     * @param viewedUserId      The user that has just had their evidence highfived.
     * @param fullName          The full name of the user that has highfived the evidence.
     * @param title             The title of the evidence highfived.
     * @param evidenceId        The id of the evidence highfived.
     */
    function showHighFiveToast(userId, viewedUserId, fullName, title, evidenceId) {
        let newNotification = new Notification("HighFive", title, evidenceId, fullName, "", "", "highfive");
        newNotification = addNotification(newNotification, listOfNotificationsHeader, listOfHTMLToastsHeader);
        newNotification.show();
        newNotification.hideTimed(SECONDS_TILL_HIDE);
    }

    /**
     * Creates the list of toasts that can be displayed on the page. This number is determined by NUM_OF_TOASTS.
     */
    function generateHtmlToasts() {
        let NUM_OF_TOASTS = 3;
        // Generate list of HTML toasts.
        for (let i = 0; i < NUM_OF_TOASTS; i++) {
            let toastString = "#liveToastHighfive" + (i+1);
            let popupTextString = "#popupTextHighfive" + (i+1);
            let toastTitleString = "#toastTitleHighfive" + (i+1);
            listOfHTMLToastsHeader.push({'toast':new bootstrap.Toast($(toastString)), 'text':$(popupTextString), 'title':$(toastTitleString)})
        }
    }

    /**
     * This function is just called to initialize parts of th header before it can have notifications working on the page.
     */
    $(function() {
        generateHtmlToasts();
        connectHeader();
    });

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>