<div th:fragment="milestoneModal" class="modal fade" id="milestoneModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="milestoneModalTitle">Add Milestone</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeMilestoneModalButton"></button>
            </div>
            <form method="post" id="milestoneForm" onsubmit="validateMilestone(); return false;" th:action="@{add-milestone}">
                <div class="modal-body">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="milestoneAlertBanner" hidden>
                        <span id="milestoneAlertMessage" data-test-id="alertMessage"></span>
                        <button type="button" class="btn-close" onclick="document.getElementById('milestoneAlertBanner').hidden = true" aria-label="Close"></button>
                    </div>
                    <div class="mb-3">
                        <label for="milestoneName" class="col-form-label">Milestone Name:</label>
                        <input onkeyup="updateCharsLeft('milestoneName', 'milestoneNameLength', 30)" maxlength="30" type="text" class="form-control" id="milestoneName" name="milestoneName">
                        <div class="name-length-message">
                            <span id="milestoneNameLength"></span>
                        </div>
                    </div>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="milestoneDateAlertBanner" hidden>
                        <span id="milestoneDateAlertMessage" data-test-id="alertMessage"></span>
                        <button type="button" class="btn-close" onclick="document.getElementById('milestoneDateAlertBanner').hidden = true" aria-label="Close"></button>
                    </div>
                    <div class="mb-3">
                        <label for="milestoneDate" class="col-form-label">Milestone Date:</label>
                        <div class="input-group" id="milestoneDateInput" data-td-target-input="nearest" data-td-target-toggle="nearest">
                            <input id="milestoneDate" type="text" class="form-control" data-td-target="#milestoneDateInput"
                                   onkeydown="return false" th:name="milestoneDateString" onchange="validateModalDateTime(
                                            'milestoneDate', 'milestoneModalButton', 'milestoneDateAlertBanner', 'milestoneDateAlertMessage')"/>
                            <span class="input-group-text bg-white" data-td-target="#milestoneDateInput" data-td-toggle="datetimepicker">
                                <span class="bi bi-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="milestoneModalButton" type="submit">Add Milestone</button>
                </div>
            </form>
        </div>
    </div>
    <script src="js/datepicker.js"></script>
    <script type="text/javascript">

        /**
         * Validates the currently entered information for the milestone and submits the form if it's valid.
         */
        async function validateMilestone() {
            if (validateModalDate('milestoneDate', 'submitMilestoneButton', 'milestoneDateAlertBanner', 'milestoneDateAlertMessage') &&
                validateModalName('milestoneName', 'milestoneAlertBanner', 'milestoneAlertMessage')) {
                document.getElementById('milestoneForm').onsubmit = () => { return false };
                document.getElementById('milestoneForm').submit();
                sendSavedLiveNotificationRequest('Milestone');
            }
        }

        milestoneDatePicker = configureDateTimePicker('milestoneDateInput');
    </script>
</div>
