<div th:fragment="removeUserModal()" class="modal fade" th:id="removeUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="removeUserModalTitle">Remove User from Group </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="col-form-label">Are you sure you want to remove the user from the group?</label>
        </div>
      </div>
      <div class="modal-footer">
        <a class="button-link">
          <button class="btn btn-danger" id="removeUserModalButton" >Remove</button>
        </a>
      </div>
    </div>
  </div>
</div>