.event-block {
    padding: 3px;
}

.event-title {
    padding-left: 2px;
}

.event-date {
    font-size: small;
    color: #727686;
    padding-left: 5px;
}

.event-start-date {

}

.event-end-date {
    padding-left: 21px;
}

.artefact-button {
    padding-bottom: 5px;
}

.artefact-block {
    width: 25%;
    padding: 5px;
}

.sprint-info-block {
    width: 25%;
}
