.calendar {
    padding-left: 6%;
    padding-right: 6%;
}

.title-date {
    background: #0d6efd;
    color: white;
}

.header {
    text-align: center;
}

body {
    padding-bottom: 50px;
}

.event-border {
    border-width: medium !important;
}

.event-border-hover {
    border-width: medium !important;
    border-top-color: black !important;
    border-bottom-color: black !important;
}

.event-border-selected {
    border-width: medium !important;
    border-color: red !important;
}

.fc-event-start {
    border-left-width: 10px !important;
}

.fc-event-end {
    border-right-width: 10px !important;
}

.fc-event-title {
    padding-left: 5px;
}

.fade {
    transition-duration: 500ms; !important;
}

.milestone {
    position: absolute !important;
}

.deadline {
    position: absolute !important;
}

.event {
    position: absolute !important;
}

.fc-daygrid-day-frame {
    position: relative !important;
}
.fc-daygrid-day:not(.fc-day-disabled){
    height: 150px !important;
}

