.calendar {
    padding-left: 6%;
    padding-right: 6%;
    height: 1000px !important;
}

.title-date {
    background: #0d6efd;
    color: white;
}

.header {
    text-align: center;
}

body {
    padding-bottom: 100px;
}

.event-border {
    border-width: medium !important;
}

.event-border-hover {
    border-width: medium !important;
    border-top-color: black !important;
    border-bottom-color: black !important;
}

.event-border-selected {
    border-width: medium !important;
    border-color: red !important;
}

.fc-event-start {
    border-left-width: 10px !important;
}

.fc-event-end {
    border-right-width: 10px !important;
}

.fc-event-title {
    padding-left: 5px;
}

.milestone, .deadline, .event {
    position: absolute !important;
    width: 100%;
}

.milestone {
    bottom: -60px;
}

.deadline {
    bottom: -85px;
}

.event {
    bottom: -110px;
}

.fc-daygrid-day-frame {
    position: relative !important;
}

.fc-daygrid-event-harness {
    top: 0 !important;
    margin-top: 0 !important;
}

.fc-daygrid-day:not(.fc-day-disabled){
    height: 100px !important;
}


