.calendar {
    padding-left: 6%;
    padding-right: 6%;
}

.title-date {
    background: #0d6efd;
    color: white;
}

.header {
    text-align: center;
}

body {
    padding-bottom: 50px;
}


.event-border {
    border-width: medium !important;
}

.fc-event-start {
    border-left-width: 10px !important;
}

.fc-event-end {
    border-right-width: 10px !important;
}

