body {
	margin:10px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif
}

#projectDetailsBox {
	width:98%;
	height:80%;
	margin:10px;
	padding:10px;
	background-color: #9a9fa6;
	border-radius: 5px
}

#sprintBox {
	width:98%;
	height:80%;
	margin:10px;
	padding:10px;
	background-color: #c5cbd4;
	border-radius: 5px
}

h2, h3, h4, p  {
	padding:5px;
}

#projectBox p, #sprintBox p{
	white-space:pre;
	font-size:smaller;
	font-family:monospace;
}

table {
  width: 98%;
}

th, td {
  padding: 15px;
  text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {background-color: #f2f2f2;}

button {
  background-color: #121136; /* Dark Blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #4f5b82; /* Lighter Blue */
  color: white;
}

/* The popup form - hidden by default */
#projectForm {
  display: none;
  position: fixed;
  left: 30px;
  top: 30px;
  float: center;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

#sprintForm {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
#sprintFormContainer, #projectFormContainer {
    min-width: 650px;
    min-height: 400px;
    padding: 10px;
    background-color: white;
}

#overviewFormContainer {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=date]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
