<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>403: Forbidden Access</title>
    <!--  <link th:href="@{/css/account.css}" rel="stylesheet"/>-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container" style="margin-left: 60px">
    <div class="text-start mb-1-6">
        <h1 class="h1 mb-0 fs-1">403: Forbidden Access Error</h1>
        <p> Invalid URL </p>
    </div>
    <form th:action="@{/logout}" method="post">
        <div>
            <button type="submit" class="btn btn-danger" style="margin-right: 10px">Back to Login Page</button>
        </div>
    </form>
</div>
</body>
</html>