<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Account Page</title>
  <link th:href="@{styles/main.css}" rel="stylesheet" />
  <link th:href="@{css/artefactListing.css}" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/js/tempus-dominus.js"></script>
  <link href="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/css/tempus-dominus.css" rel="stylesheet"/>
  <script src="webjars/jquery/3.6.0/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

  <link href="css/fineCrop.css" rel="stylesheet">
</head>

<body>
<header th:replace="fragments/header"></header>
<script src="js/collapse.js"></script>
  <div class="container">

<!--    start left-side profile card-->
    <div class="row">
      <div class="col-md-7 col-lg-4 mb-5 mb-lg-0">
        <div class="card border-4 shadow">
          <img th:src="${userImage}" id="uploadPreview" alt="Image Error" width="300" height="300" class="rounded-circle" style ="margin-left: 60px; margin-top:20px">
          <div class="card-body p-1-9 p-xl-5">
            <div class="mb-4">
              <h3 class="h4 mb-0" th:text="${fullName}"></h3>
              <span class="text-primary mb-3" th:text="${username}"></span>
              <div style="display: flex; flex-direction: row">
                <p> Member since: </p>
                <p  th:text="${dateAdded}" style="margin-left: 5px"></p>
                <p  th:text="${monthsSinceAdded}" style="margin-left: 5px"></p>
              </div>
              <H6 style="margin-bottom: 0px">Role(s):</H6>
              <div style="display: flex; flex-wrap: wrap; flex-direction: row;">
                <div th:each="eachRole: ${rolesList}" style="background: #0a64ff; border-radius: 10px;padding:2px 5px 2px 5px;margin-right: 10px;margin-top: 5px;">
                  <div style="border-radius: 5px;">
                    <h6 th:text="${eachRole}" style="margin-top: 5px;margin-bottom: 5px; color:white"></h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--      end left-side profile card-->
      <div class="col-lg-8">
        <div class="ps-lg-1-6 ps-xl-5">
          <div class="mb-5">

            <div class="alert alert-warning alert-dismissible fade show" role="alert" id="alertBanner" th:if="${isUpdateSuccess != null}">
              <div style="display: flex; justify-content: space-between;flex-direction: row; align-items: center">
                <strong th:text="${updateMessage}"></strong>
                <button id="removeUpdateAlert" type="button" class="btn btn-outline-warning" onclick="removeAlertBanner()">X</button>
              </div>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#user-info" type="button" role="tab" aria-controls="profile" aria-selected="true" th:attr="onClick='saveTab(\'profile-tab\')'">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                  </svg>
                  Profile
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="evidence-tab" data-bs-toggle="tab" data-bs-target="#evidence" type="button" role="tab" aria-controls="evidence" aria-selected="false" th:attr="onClick='saveTab(\'evidence-tab\')'">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-text" viewBox="0 0 16 16">
                    <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                    <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                    <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                  </svg>
                  Evidence
                </button>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="user-info" role="tabpanel" aria-labelledby="user-info-tab">
        <!--start the right side profile card-->
                <div class="text-start mb-1-6 mt-3">
                  <h2 class="h1 mb-0 fs-1">Profile</h2>
                </div>

                <br>

      <!--            start form-->
                <form action="#">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="firstName" th:name="firstName" placeholder="First name" disabled th:value="*{firstName}">
                    <label for="firstName">First name</label>
                  </div>

                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="middleNameInput" placeholder=" " disabled th:value="${middleName}">
                    <label for="middleNameInput">Middle name</label>
                  </div>

                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="lastNameInput" placeholder="Last name" disabled th:value="${lastName}">
                    <label for="lastNameInput">Last name</label>
                  </div>

                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="nickNameInput" placeholder="Nickname/alias" disabled th:value="${nickName}">
                    <label for="nickNameInput">Nickname/alias</label>
                  </div>

                  <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="emailInput" placeholder="name@example.com" disabled th:value="${email}">
                    <label for="emailInput">Email address</label>
                  </div>

                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="pronounInput" placeholder="name@example.com" disabled th:value="${personalPronouns}">
                    <label for="pronounInput">Personal Pronouns</label>
                  </div>

                  <div class="form-floating">
                    <textarea class="form-control" placeholder="bio" id="floatingTextarea2" style="height: 100px" th:text="${bio}" disabled></textarea>
                    <label for="floatingTextarea2">Bio</label>
                  </div>
                </form>
      <!--          end form-->
                <form th:action="@{editAccountLoad}" method="post" th:if="${isAuthorised} == true">
                  <div style="display:flex; justify-content: end" class="mt-3">
                    <input type="hidden" th:value="${userId}" name="userId" id="userId">
                    <button type="submit" id="editProfileButton" class="btn btn-primary">Edit Profile</button>
                  </div>
                </form>
              </div>
              <div class="tab-pane-Evidence fade" id="evidence" role="tabpanel" aria-labelledby="user-evidence-tab">
                <div class="text-start mb-1-6 mt-3">
                  <div style="display: flex; flex-direction: row; justify-content: space-between; align-content: center;">
                    <h2 class="h1 mb-0 fs-1">Evidence</h2>
                    <a class="button-link" style="margin-right: 5px" data-bs-toggle="modal" data-bs-target="#evidenceModal" data-bs-type="add" th:if="${isAuthorised} == true">
                      <button id="addEvidenceButton" class="btn btn-primary" type="button">Add Evidence</button>
                    </a>
                  </div>
                  <!-- This section contains the list of evidence and each have a clickable button to display a more detailed description through a collapsable object. -->
                  <div th:each="evidence, meta: ${evidences}">
                    <div class="evidence-block">
                      <div class="detail-block">
                        <div class="evidence-info-block" th:if="${evidence}">
                          <button th:id="evidenceDropdown + (${meta.index} + 1)" class="btn" type="button" data-bs-toggle="collapse" th:attr="data-bs-target='#collapseEvidence' + ${evidence.getEvidenceId()}, aria-controls='collapseEvidence' + ${evidence.getEvidenceId()}, onClick='changeIcon(evidenceArrow' + (${meta.index} + 1) + ')'" aria-expanded="false" style="outline: none; box-shadow: none;">
                            <span class="evidence-title" th:text="${evidence.getTitle}"></span>
                            <svg th:id="evidenceArrow + (${meta.index} + 1)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                              <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                            </svg>
                          </button>
                          <div class="evidence-date ps-3" th:text="${evidence.getDateString}"></div>
                          <div class="collapse ps-3 pb-3" th:id="collapseEvidence + ${evidence.getEvidenceId()}">
                            <b>Description:</b>
                            <div class="evidence-description" th:text="${evidence.getDescription}"></div>
                            <div class="evidence-weblink-title" th:if="${!evidence.getWebLinks().isEmpty()}">Weblinks:</div>
                            <div th:each="webLink, meta: ${evidence.getWebLinks()}">
                              <div th:if="${webLink.getFormattedUrl()} != 'InvalidURL'" class="chip" th:id="'weblinkurlDisplay' + ${meta}" style="display: inline-block;padding: 0 12px 0 15px;height: fit-content;font-size: 16px;line-height: 30px;border-radius: 25px;background-color: #f1f1f1f1;margin: 0 10px 10px 0;" data-toggle="tooltip" data-bs-placement="right" th:title="${webLink.getUrl()}">
                                <div class="d-flex justify-content-between flex-row align-items-center">
                                  <i th:class="${webLink.isSecure()} ? 'bi bi-lock' : 'bi bi-unlock'"></i>
                                  <span style="margin-right: 10px; margin-left: 10px" th:text="${webLink.getFormattedUrl()}"></span>
                                  <a th:href="${webLink.getUrl()}" target="_blank">
                                    <i class="bi bi-box-arrow-up-right"></i>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <script th:inline="javascript">
                            buttonId = /*[['evidenceDropdown' + (${meta.index} + 1)]]*/ null;
                            arrowId = /*[['evidenceArrow' + (${meta.index} + 1)]]*/ null;
                            collapseId = /*[['collapseEvidence' + ${evidence.getEvidenceId()}]]*/ null;
                            setToggle(buttonId, arrowId, collapseId);
                          </script>

                        </div>

                        <!--Buttons for editing and deleting, for future use!!-->
                        <div class="d-flex">
                          <div class="button-divider">
                            <button class="btn btn-default" type="button" th:id="'highFiveBtn' + ${evidence.getEvidenceId}" th:attr="onclick=|switchIcon('${evidence.getEvidenceId}')|" style="outline: none; box-shadow: none;">
                              <i class="bi bi-star" th:id="'star' + ${evidence.getEvidenceId}"></i>
                            </button>
                          </div>
                          <div class="button-divider">
                            <button class="btn btn-default popovers" th:value="${evidence.getEvidenceId}" type="button" th:id="'UserList' + ${evidence.getEvidenceId}" th:attr="onclick=|togglePopover('${evidence.getEvidenceId}')|" style="outline: none; box-shadow: none;"
                                      data-bs-placement="bottom" title="User List:" data-bs-content='No one high five this evidence' data-bs-html="true">
                              <i class="bi bi-people"></i>
                            </button>
                          </div>
                          <div class="button-divider">
                            <div class="dropdown" th:if="${isAuthorised} == true">
                              <button class="btn btn-default " type="button" id="evidenceActions" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class='bi bi-gear-fill'></i>
                              </button>

                              <!--Edit and delete buttons for the future-->
                              <ul class="dropdown-menu" aria-labelledby="evidenceDropdownButton" style="z-index: 3000">
                                <li>
                                  <a class="button-link" data-bs-toggle="modal" data-bs-target="#evidenceModal" data-bs-type="edit">
                                    <button id="editEvidenceButton" class="dropdown-item" type="button">
                                      <span class='bi bi-pencil'></span> <i>Edit</i>
                                    </button>
                                  </a>
                                </li>
                                <li>
                                  <a class="button-link" data-bs-toggle="modal" data-bs-target="#deleteModal" th:data-bs-name="${evidence.getTitle}" data-bs-type="evidence">
                                    <button class="dropdown-item delete-artefact-button" type="button">
                                      <span class='bi bi-trash' style='color: red'></span> <i style='color: red'>Delete</i>
                                    </button>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--end the right-side profile card-->

  <div id="evidenceModal" th:replace="fragments/evidenceModal :: evidenceModal"></div>
  <div th:replace="fragments/alertToast :: alertToast"></div>

</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
<script src="js/fineCrop.js"></script>
<script src="js/banner.js"></script>
<script src="js/evidence.js"></script>
<script th:inline="javascript">


  /*<![CDATA[*/
  let projectEndDate = /*[[${project.getEndDate()}]]*/ "Error";
  let projectStartDate = /*[[${project.getStartDate()}]]*/ "Error";
  /*]]>*/

  $(function () {
    $('[data-bs-toggle="popover"]').popover()
  })
  /**
   * Sets up datepicker for the start and end dates of the project.
   */
  function setEvidenceDatePickerValues() {
    evidenceDatePicker.dates.setValue(tempusDominus.DateTime.convert(new Date()));
    // Set minimum and maximum dates for greying out in the calendar
    evidenceDatePicker.updateOptions({restrictions: {minDate: new Date(projectStartDate), maxDate: new Date(projectEndDate)}});
  }

  setEvidenceDatePickerValues();

  // Hides the alert banner
  function removeAlertBanner() {
    document.getElementById("alertBanner").style.display = "none";
  }

  /**
   * Updates characters left for modal input fields
   * @param elementId Id of the input field
   * @param messageElementId Id of the message element, for displaying the right error message if necessary.
   * @param numChars Number of characters allowed
   */
  function updateCharsLeft(elementId, messageElementId, numChars) {
    let chars_left = numChars - document.getElementById(elementId).value.length;
    if (chars_left === numChars) {
      document.getElementById(messageElementId).innerText = "";
    } else if (chars_left === 1) {
      document.getElementById(messageElementId).innerText = chars_left + " character left";
    } else if (chars_left === 0) {
      document.getElementById(messageElementId).innerText = "No characters left";
    } else {
      document.getElementById(messageElementId).innerText = chars_left + " characters left";
    }
  }

  /**
   * Check if the name of the item that the user inputted is not an empty string
   * Submit the form and return true if the input is not empty string, otherwise show error banner with the error message and return false
   * @param elementId the ID of the text input HTML element for item's name
   * @param alertBanner the ID of the alert banner HTML element
   * @param alertMessage the ID of the alert banner message HTML element
   * @returns {boolean} true if the input is not empty string, otherwise false
   */
  function validateModalName(elementId, alertBanner, alertMessage) {
    const nameInput = document.getElementById(elementId).value;
    if (nameInput === "") {
      document.getElementById(alertBanner).hidden = false;
      document.getElementById(alertMessage).innerText = "Name cannot be empty!";
      return false
    } else {
      document.getElementById(alertBanner).hidden = true;
      return true
    }
  }

  /**
   * Check if the date of the item that the user inputted is within the project dates range
   * Show error banner with error message and disable the submit button if the inputted date is outside the project dates range
   * @param elementId the ID of the date input HTML element
   * @param submitElementId the ID of the submit button on the modal
   * @param alertBanner the ID of the banner element that will display the alert message
   * @param alertMessage the ID of the alert message element
   */
  function validateModalDate(elementId, submitElementId, alertBanner, alertMessage) {
    if (!checkEmpty(elementId, 'Date', submitElementId, alertBanner, alertMessage)) {
      return false
    }
    const dateInput = new Date(document.getElementById(elementId).value);

    return checkDate(dateInput, submitElementId, alertBanner, alertMessage)
  }

  /**
   * Returns true if the user has entered a valid date and time, otherwise false
   * @param dateId id of element with date
   * @param submitElementId id of element for submitting the modal
   * @param alertBanner id of element that displays an error message
   * @param alertMessage id of element that stores the error message
   * @returns {boolean} true if valid date and time, otherwise false
   */
  function validateModalDateTime(dateId, submitElementId, alertBanner, alertMessage) {
    if (!checkEmpty(dateId, 'Date', submitElementId, alertBanner, alertMessage)) {
      return false
    }
    const dateInput = new Date(`${document.getElementById(dateId).value}`)
    return checkDate(dateInput, submitElementId, alertBanner, alertMessage)
  }

  /**
   * Returns true if the user has entered a valid date (and maybe time), otherwise false.
   * A valid date is one that is within the project date range.
   * @param date date to check
   * @param submitElementId id of element for submitting the modal
   * @param alertBanner id of element that displays an error message
   * @param alertMessage id of element that stores the error message
   * @returns {boolean} true if valid date and time, otherwise false
   */
  function checkDate(date, submitElementId, alertBanner, alertMessage) {
    const projectStartDateObj = new Date(projectStartDate);
    const projectEndDateObj = new Date(projectEndDate);
    if (isNaN(date.getTime())) {
      $('#' + submitElementId).prop('disabled', true);
      document.getElementById(alertBanner).hidden = false;
      document.getElementById(alertMessage).innerText = "Invalid date";
      return false
    } else if (date < projectStartDateObj || date > projectEndDateObj) {
      $('#' + submitElementId).prop('disabled', true);
      document.getElementById(alertBanner).hidden = false;
      document.getElementById(alertMessage).innerText = "Date must be within the project's date range (" +
              projectStartDateObj.toLocaleDateString("en-us", {day: 'numeric', month: 'short', year: 'numeric'})
              + " - " +
              projectEndDateObj.toLocaleDateString("en-us", {day: 'numeric', month: 'short', year: 'numeric'})
              + ").";
      return false
    } else {
      $('#' + submitElementId).prop('disabled', false);
      document.getElementById(alertBanner).hidden = true;
      return true
    }
  }

  /**
   * Checks that the element with the given id isn't empty. If it is, it displays an error message and disables the
   * submit button. Returns true if it is not empty, otherwise false.
   * @param id id of element to check
   * @param type type of value the element stores (displayed at start of error message)
   * @param submitElementId id of element for submitting the modal
   * @param alertBanner id of element that displays an error message
   * @param alertMessage id of element that stores the error message
   * @returns {boolean} true if it is not empty, otherwise false
   */
  function checkEmpty(id, type, submitElementId, alertBanner, alertMessage) {
    if (document.getElementById(id).value === "") {
      $('#' + submitElementId).prop('disabled', true);
      document.getElementById(alertBanner).hidden = false;
      document.getElementById(alertMessage).innerText = `${type} must not be empty!`;
      return false;
    }
    return true;
  }

  // This is used to ensure that the tabs state is saved,
  // during reloading events of the page by either the user or application.

  /**
   * Set the current tab selected to session storage.
   * @param tab tab ID
   */
  function saveTab(tab) {
    localStorage.setItem('tab', tab)
  }

  /**
   * Get the current tab selected from session storage.
   */
  function getTab() {
    return localStorage.getItem('tab')
  }

  /**
   * This function will check the current icon being used for the like button and toggle it to the alternative.
   * LOGIC STILL NEEDS TO BE CONNECT TO THIS FUNCTION!
   * @param id  ID of the image icon to toggle.
   */
  function switchIcon(id) {
    const imgID = "#star" + id
    const icon =  $(imgID);
    if (icon.hasClass("bi-star")) {
      icon.addClass("bi-star-fill").removeClass("bi-star");
    } else {
      icon.addClass("bi-star").removeClass("bi-star-fill");
    }
  }

  /**
   * This function will toggle the state of a popover list which shows all the users that have like a certain piece of evidence.
   * As these popovers use HTML it is important that if data is being used from the controllers it is first escaped.
   * LOGIC STILL NEEDS TO BE CONNECT TO THIS FUNCTION!
   * @param id  ID of the popover to toggle being displayed.
   */
  $(".popovers").on("click", function () {
    let popOverContent = "";
    const popoverID = "#" + $(this).attr("id");
    const evidenceId = $(this).val();
    console.log(evidenceId);
    if ($(popoverID).attr('aria-describedby') !== undefined) {
      console.log(popoverID);
      $(popoverID).popover("toggle");
    } else {
      $.get('get-high-fivers?evidenceId='+evidenceId).done((result) => {
        console.log("hellooo");
        for (let i = 0; i < result.length; i++) {
          if(i === result.length - 1){
            popOverContent += `<span>${result[i].name}</span>`
          } else {
            popOverContent += `<span>${result[i].name}</span><br/>`
          }
        }
        $(popoverID).attr("data-bs-content", popOverContent);
        $(popoverID).popover("toggle");
      })
    }
  });


  // Set the current tab selected to what is in session storage, if it is not null.
  let tabToSet = getTab();
  if (tabToSet) {
    document.getElementById(tabToSet).click();
  }

</script>
</html>
