<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    <link href="css/calendar.css" rel="stylesheet">
    <link href="webjars/fullcalendar/5.10.2/main.min.css" rel="stylesheet">
    <link href="webjars/fullcalendar__bootstrap5/5.10.2/main.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css' rel='stylesheet'>

    <script src="js/sprint.js"></script>
    <script src="js/banner.js"></script>
    <script src="webjars/jquery/3.6.0/dist/jquery.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const eventImage = 'images/event.svg';
        const deadlineImage = 'images/deadline.svg';
        const milestoneImage = 'images/milestone.svg';

        let currentRole = /*[[${currentUserRole}]]*/ "";
        document.addEventListener('DOMContentLoaded', function() {

            const alternateColour = (colour) => {
                return "red";
            }

            let calendarEl = document.getElementById('calendar');
            let selectedId = -1;
            let calendar = new FullCalendar.Calendar(calendarEl, {
                themeSystem: 'bootstrap5',
                initialView: 'dayGridMonth',
                buttonText: {
                    today: 'Today'
                },
                aspectRatio: 2.3,
                fixedWeekCount: false,
                validRange: {
                    start: /*[[${startDate}]]*/ null,
                    end: /*[[${endDate}]]*/ null
                },
                events: [
                    /*[(${events})]*/ null
                ],
                eventContent: function(arg) {
                    let arrayOfDomNodes = []
                    // title event
                    let titleEvent = document.createElement('div')
                    if(arg.event._def.title) {
                        titleEvent.innerHTML = arg.event._def.title
                        titleEvent.classList = "fc-event-title fc-sticky"
                    }

                    // image event
                    let imgEventWrap = document.createElement('div')

                    if(arg.event.extendedProps.type === 'Deadline') {
                        let imgEvent = '<img src= ' + deadlineImage + ' >'
                        imgEventWrap.classList = "fc-event-img"
                        imgEventWrap.innerHTML = imgEvent;
                    }
                    if(arg.event.extendedProps.type === 'Event') {
                        let imgEvent = '<img src= ' + eventImage + ' >'
                        imgEventWrap.classList = "fc-event-img"
                        imgEventWrap.innerHTML = imgEvent;
                    }
                    if(arg.event.extendedProps.type === 'Milestone') {
                        let imgEvent = '<img src= ' + milestoneImage + ' >'
                        imgEventWrap.classList = "fc-event-img"
                        imgEventWrap.innerHTML = imgEvent;
                    }


                    arrayOfDomNodes = [ titleEvent,imgEventWrap ]

                    return { domNodes: arrayOfDomNodes }
                },
                eventDidMount: function(info) {
                    info.event.setProp("classNames", "event-border");
                },
                eventClick: function(info) {
                    // change the border color
                    let newEvent = calendar.getEventById(info.event.id);
                    let selectedEvent = calendar.getEventById(selectedId);
                    if (selectedId === -1) {
                        //initial click on any event
                        newEvent.setProp("classNames", "event-border");
                        newEvent.setProp("borderColor", alternateColour(newEvent.backgroundColor));
                        newEvent.setProp("editable", true);
                        if(currentRole === 'student'){
                            newEvent.setProp("editable", false);
                        } else {
                            newEvent.setProp("editable", true);
                        }
                        selectedId = info.event.id;
                    } else {
                        if (newEvent.id === selectedEvent.id) {
                            newEvent.setProp("classNames", "event-border");
                            newEvent.setProp("borderColor", newEvent.backgroundColor);
                            newEvent.setProp("editable", false);
                            selectedId = -1;
                        } else {
                            selectedEvent.setProp("classNames", "event-border");
                            selectedEvent.setProp("borderColor", selectedEvent.backgroundColor)
                            selectedEvent.setProp("editable", false);
                            newEvent.setProp("classNames", "event-border");
                            newEvent.setProp("borderColor", alternateColour(newEvent.backgroundColor));
                            newEvent.setProp("editable", true);
                            if(currentRole === 'student'){
                                newEvent.setProp("editable", false);
                            } else {
                                newEvent.setProp("editable", true);
                            }
                            selectedId = info.event.id;
                        }
                    }
                },
                eventMouseEnter: function(info) {
                    // change the border color
                    let event = calendar.getEventById(info.event.id);
                    if (event.borderColor !== alternateColour(event.backgroundColor)) {
                        event.setProp("classNames", "event-border-hover");
                        //event.setProp("borderColor", "black");
                    }
                },
                eventMouseLeave: function(info) {
                    // change the border color
                    let event = calendar.getEventById(info.event.id);
                    if (event.borderColor !== alternateColour(event.backgroundColor)) {
                        event.setProp("classNames", "event-border");
                        //event.setProp("borderColor", event.backgroundColor);
                    }
                },
                eventOverlap: function(stillEvent, movingEvent) {
                    document.getElementById("overlapError").hidden = false;
                    setTimeout( function () {document.getElementById("overlapError").hidden = true;}, 5000)
                    return false;
                },
                eventResizableFromStart: function(info) {
                    return true;
                },
                eventResize: function(info) {
                    let sprint = calendar.getEventById(info.event.id);
                    saveSprint(sprint, "alertBanner")
                },
                eventDrop: function(info) {
                    let sprint = calendar.getEventById(info.event.id);
                    saveSprint(sprint);
                }
            });
            calendar.render();
        });
        /*]]>*/
    </script>
</head>

<header th:replace="fragments/header"></header>

<body>
<div class="header">
    <h2 class="title" th:text="${projectName}"/>
    <span class="badge rounded-pill title-date align-middle" th:text="${projectStartDateString} + ' - ' + ${projectEndDateString}" />
</div>

<div style="display: flex; justify-content: center; width: 100%;margin: 15px">
    <div class="alert alert-success alert-dismissible" role="alert" id="alertBanner" style="width: 25%;padding-right: 16px!important" hidden>
        <div style="display: flex; justify-content: space-between;flex-direction: row; align-items: center;">
            <strong id="alertBannerText"></strong>
            <button id="removeUpdateAlert" type="button" class="btn btn-outline-success" onclick="removeAlertBanner()">X</button>
        </div>
    </div>
</div>



<div class='calendar' id='calendar'></div>
<div class="error">
    <span id="overlapError" style="color:red" th:hidden="true">Error: sprints cannot overlap</span>
</div>
</body>

<script src="webjars/fullcalendar/5.10.2/main.min.js"></script>
</html>