<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/editSprintCSS.css}" />
</head>
<body>
    <div class="container">
        <form class="form-container" action="#" th:action="@{/submitEditedSprint}" method="post">
            <h1>Edit Sprint</h1>

            <label> Sprint Name:
                <input type="text" id="namesprint" th:value="${sprint.name}" name="sprintNumber" disabled>
            </label>


            <div class="date">
                <label> Start Date:
                    <input type="date" placeholder="Enter Start Date" th:value="${sprint.startDate}" th:field="${sprint.startDate}" name="startDateField" id="startDate">
                </label>
                <label> Enter End Date:
                    <input type="date" value="Enter End Date" th:value="${sprint.endDate}" th:field="${sprint.endDate}" name="endDateField" id="endDate" onchange="compareDates()">
                </label>
            </div>

            <input type="hidden" name="labelNum" th:value="${sprint.labelNum}" th:field="${sprint.labelNum}">
            <input type="hidden" name="projectName" th:value="${sprint.projectName}" th:field="${sprint.projectName}">
            <label> Enter Sprint Description:
                <input type="text" id="desc" th:value="${sprint.description}" th:field="${sprint.description}" name="sprintDescription">
            </label>
            <button style="margin-left: 10px" type="submit" id="submitBtn" class="btn">Edit</button>
        </form>
        <form class="form-container" action="#" th:action="@{/projectDetails}">
            <button style="margin-left: 10px" type="submit" id="cancelBtn" class="btn cancel">Cancel</button>
        </form>
    </div>
</body>
</html>