<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Account</title>
<!--  <link th:href="@{/css/account.css}" rel="stylesheet"/>-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script></head>
<style>
  img {
      display: block;
      max-width: 100%;
  }
</style>

<body onload = "refreshPage()">
<header th:replace="fragments/header"></header>


  <div class="container" th:if="${isAuthorised} == true">

<!--    start left-side profile card-->
    <div class="row ">
      <div class="col-md-7 col-lg-4 mb-5 mb-lg-0">
        <div class="card border-4 shadow">
          <img th:src="@{/src/main/resources/static/img/userImage.jpg}" id="uploadPreview" alt="mdo" width="300" height="300" class="rounded-circle" style ="margin-left: 60px; margin-top:20px">
          <label for="avatar" style="text-align:center">Update profile picture: </label>

          <form th:action="@{/saveAccountPhoto}" method="post" enctype="multipart/form-data">
            <input type="file" id="avatar" style="margin-left:25%" name="avatar" value="Upload Profile Picture" accept="image/png, image/jpeg, image/jpg" onchange="PreviewImage();">
            <div class="card-body p-xl-2">
              <div style="display: flex; flex-direction: row; justify-content: center">
                  <input type="hidden" th:value="${userId}" name="userId">
                  <button th:id="save-btn" th:hidden="true" type="submit" class="btn btn-primary" style="margin-top: 10px">Save Photo</button>
                  <input type="hidden" th:value="${userId}" name="userId">
                  <button type="submit" class="btn btn-danger" style="margin-left: 10px; margin-top: 10px" th:formaction="'/deleteAccountPhoto'">Delete Photo</button>
              </div>
            </div>
          </form>

          <div class="card-body p-1-9 p-xl-5">
            <div class="form-group">
              <div id="image-box" class="image-container"></div>
              <button class="btn btn-outline-info" id="crop-btn" style="width: 100%; margin-top: 10px; display: none;" type="button">Crop</button>
              <button class="btn btn-outline-info" id="confirm-btn" style="width: 100%; margin-top: 10px; display: none;" type="submit">Post</button>
            </div>
            <div class="mb-4">
              <h3 class="h4 mb-0" th:text="${fullName}"></h3>
              <span class="text-primary" th:text="${username}"></span>
              <div style="display: flex; flex-direction: row">
                <p> Member since: </p>
                <p  th:text="${dateAdded}" style="margin-left: 5px"></p>
                <p  th:text="${monthsSinceAdded}" style="margin-left: 5px"></p>
              </div>
              <H6 style="margin-bottom: 0px">Role(s):</H6>
              <div style="display: flex; flex-wrap: wrap; flex-direction: row;">
                <div th:each="eachRole: ${rolesList}" style="background: #0a64ff; border-radius: 10px;padding:2px 5px 2px 5px;margin-right: 10px;margin-top: 5px;">
                  <div style="border-radius: 5px;">
                    <h6 th:text="${eachRole}" style="margin-top: 5px;margin-bottom: 5px; color:white"></h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--      end left-side profile card-->

<!--start the right side profile card-->
      <div class="col-lg-8">
        <div class="ps-lg-1-6 ps-xl-5">
          <div class="mb-5">

            <div class="alert alert-warning alert-dismissible fade show" role="alert" id="alertBanner" th:if="${isUpdateSuccess != null}">
              <div style="display: flex; justify-content: space-between;flex-direction: row; align-items: center">
                <strong th:text="${updateMessage}"></strong>
                <button id="removeUpdateAlert" type="button" class="btn btn-outline-warning" onclick="removeAlertBanner()">X</button>
              </div>
            </div>

            <div class="text-start mb-1-6">
              <h2 class="h1 mb-0 fs-1">Edit Profile</h2>
            </div>

            <br>

<!--            start form-->
            <form th:action="@{/saveEditAccount}" method="post" >
              <div class="form-floating mb-3">
                <input type="text"Christophe class="form-control" id="firstName" th:name="firstName" placeholder="First name" th:value="${firstName}" minlength="1" required>
                <label for="firstName">First name</label>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="middleName" th:name="middleName" placeholder="Middle name" th:value="${middleName}">
                <label for="middleName">Middle name</label>
              </div>

              <div class="form-floating mb-3">

                <input type="text" class="form-control" id="lastName" th:name="lastName" placeholder="Last name" th:value="${lastName}" required>
                <label for="lastName">Last name</label>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="nickName" th:name="nickName" placeholder="Nickname/alias" th:value="${nickName}">
                <label for="nickName">Nickname/alias</label>
              </div>

              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" th:name="email" placeholder="name@example.com" th:value="${email}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z0-9.-]+$" title="Email need to be in the correct format. E.g. name@example.com" required>
                <label for="email">Email address</label>
              </div>

              <div class="form-floating mb-3">
                <select th:value="${personalPronouns}" class="form-select" th:name="personalPronouns" id="personalPronouns" aria-label="Floating label select example" >
                  <option th:value="'Unknown Pronouns'" th:text="'Select your pronouns'"></option>
                  <option th:value="'She/Her'" th:text="'She/Her'"></option>
                  <option th:value="'He/Him'" th:text="'He/Him'"></option>
                  <option th:value="'They/Them'" th:text="'They/Them'"></option>
                </select>
                <label for="personalPronouns">Pronouns</label>
              </div>
              <input type="hidden" th:value="${userId}" name="userId" id="userId" th:name="userId">
              <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="bio" id="bio" th:name="bio" th:text="${bio}" style="height: 100px"></textarea>
                <label for="bio">Bio</label>
              </div>
              <div>
                <button type="submit" class="btn btn-success">Update Profile</button>
              </div>
            </form>
<!--          end form-->
            <div style="display:flex; justify-content: space-between" class="mt-3">
              <form th:action="@{/editPassword}">
                <div>
                  <input type="hidden" th:value="${userId}" name="userId">
                  <button type="submit" class="btn btn-primary" style="margin-right: 10px; width:200px">Change Password</button>
                </div>
              </form>
              <form th:action="@{/backToAccountPage}" method="post">
                <div>
                  <input type="hidden" th:value="${userId}" name="userId" th:name="userId">
                  <button type="submit" class="btn btn-danger" style="margin-right: 10px">Back to Profile Page</button>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
<!--end the right-side profile card-->

  </div>
  </div>

  <div class="container" th:if="${isAuthorised} == false">
    <h1 style="color: red;">You Cannot Edit Other People's Profile</h1>
    <form th:action="@{/editAccountLoad}" method="post" >
      <div>
        <input type="hidden" th:value="${userId}" name="userId">
        <button type="submit" class="btn btn-link" >Continue editing your profile</button>
      </div>
    </form>
  </div>

</body>

<script>
	// image-box is the id of the div element that will store our cropping image preview
	const imagebox = document.getElementById('image-box')
        // crop-btn is the id of button that will trigger the event of change original file with cropped file.
	const crop_btn = document.getElementById('crop-btn')
	// id_image is the id of the input tag where we will upload the image
	const input = document.getElementById('avatar')

	// When user uploads the image this event will get triggered
	input.addEventListener('change', ()=>{
	  // Getting image file object from the input variable
	  const img_data = input.files[0]
	  // createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
	  // The new object URL represents the specified File object or Blob object.
	  const url = URL.createObjectURL(img_data)

	  // Creating a image tag inside imagebox which will hold the cropping view image(uploaded file) to it using the url created before.
	  imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%;">`

	  // Storing that cropping view image in a variable
	  const image = document.getElementById('image')

	  // Displaying the image box
	  document.getElementById('image-box').style.display = 'block'
	  // Displaying the Crop buttton
	  document.getElementById('crop-btn').style.display = 'block'
	  // Hiding the Post button
	  document.getElementById('confirm-btn').style.display = 'none'

	  // Creating a croper object with the cropping view image
	  // The new Cropper() method will do all the magic and diplay the cropping view and adding cropping functionality on the website
	  // For more settings, check out their official documentation at https://github.com/fengyuanchen/cropperjs
	  const cropper = new Cropper(image, {
	  autoCropArea: 1,
	  viewMode: 1,
	  scalable: false,
	  zoomable: false,
	  movable: false,
	  minCropBoxWidth: 200,
	  minCropBoxHeight: 200,
	  })

	  // When crop button is clicked this event will get triggered
	  crop_btn.addEventListener('click', ()=>{
	    // This method coverts the selected cropped image on the cropper canvas into a blob object
	    cropper.getCroppedCanvas().toBlob((blob)=>{

	      // Gets the original image data
	      let fileInputElement = document.getElementById('avatar');
	      // Make a new cropped image file using that blob object, image_data.name will make the new file name same as original image
	      let file = new File([blob], img_data.name,{type:"image/*", lastModified:new Date().getTime()});
	      // Create a new container
	      let container = new DataTransfer();
	      // Add the cropped image file to the container
	      container.items.add(file);
	      // Replace the original image file with the new cropped image file
	      fileInputElement.files = container.files;

	      // Hide the cropper box
	      document.getElementById('image-box').style.display = 'none'
	      // Hide the crop button
	      document.getElementById('crop-btn').style.display = 'none'
	      // Hide the Post button
	      document.getElementById('confirm-btn').style.display = 'none'
        PreviewImage();
	      });
	    });
	});
</script>
<script>
  function settingsMenuToggle(){
    var settingmenu = document.querySelector(".setting-menu");
    settingmenu.classList.toggle('setting-menu-height');
    settingmenu.addEventListener('click',function(){event.stopPropagation()})
  }

  document.getElementById("confirmPasswordInput").onkeyup = function() {
    if(document.getElementById("newPasswordInput").value !== document.getElementById("confirmPasswordInput").value) {
      document.getElementById("newPasswordInput").style.borderColor = "red";
      document.getElementById("confirmPasswordInput").style.borderColor = "red";
    } else {
      document.getElementById("newPasswordInput").style.borderColor = "green";
      document.getElementById("confirmPasswordInput").style.borderColor = "green";
    }
  }

  function removeAlertBanner() {
    document.getElementById("alertBanner").style.display = "none";
  }


</script>

<script th:inline="javascript">

  function refreshPage(){
    /*<![CDATA[*/
    let pronoun = /*[[${personalPronouns}]]*/ "Error";
    /*]]>*/
    const $select = document.querySelector('#personalPronouns')
    $select.value = pronoun;
  }

    function PreviewImage() {
    var oFReader = new FileReader();
    oFReader.readAsDataURL(document.getElementById("avatar").files[0]);

    oFReader.onload = function (oFREvent) {
        document.getElementById("uploadPreview").src = oFREvent.target.result;
        document.getElementById("save-btn").hidden = false;
    };
  };
</script>
<script>
  // import 'cropperjs/dist/cropper.css';
  import Cropper from 'cropperjs';

  const image = document.getElementById('uploadPreview');
  const cropper = new Cropper(image, {
    aspectRatio: 16 / 9,
    crop(event) {
      console.log(event.detail.x);
      console.log(event.detail.y);
      console.log(event.detail.width);
      console.log(event.detail.height);
      console.log(event.detail.rotate);
      console.log(event.detail.scaleX);
      console.log(event.detail.scaleY);
    },
  });
</script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="js/fineCrop.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="node_modules/cropperjs/dist/cropper.js" type="text/javascript"></script>

</html>
