<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Page</title>
    <link th:href="@{styles/main.css}" rel="stylesheet" />
    <link th:href="@{css/artefactListing.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/js/tempus-dominus.js"></script>
    <link href="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/css/tempus-dominus.css" rel="stylesheet"/>
    <script src="webjars/jquery/3.6.0/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>

<body>
<header th:replace="fragments/header"></header>
<script src="js/collapse.js"></script>
<script src="js/redirect.js"></script>

<div class="container">
    <div class="d-flex d-flex justify-content-between">
        <h2 class="mb-0 fs-1" th:text="${tagName} + ':'"></h2>
        <div>
            <button type="button" class="btn-block btn btn-sm btn-primary" th:onclick="|redirectToEvidence('${viewableUser}')|" th:text="'To ' + ${userName} + ' Evidence'"></button>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" onclick="updateEvidenceList()" checked th:disabled="${!validViewedUser}">
                <label class="form-check-label" for="flexSwitchCheckDefault">All Users</label>
            </div>
        </div>
    </div>
    <div th:replace="fragments/evidenceList"></div>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
<script src="js/fineCrop.js"></script>
<script src="js/banner.js"></script>
<script src="js/evidence.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    /**
     * Refreshes the table to instead display either all evidences or just a certain users.
     */
    function updateEvidenceList() {
        const checked = ($('#flexSwitchCheckDefault').is(":checked"));
        const data = {
            userId: /*[[${userId}]]*/ -1, // This value is stored in the header.
            viewedUserId: /*[[${viewableUser}]]*/ -1,
            listAll: checked,
            tagId: /*[[${tagId}]]*/ -1,
            tagType: /*[[${tagType}]]*/ null,

        }

        $.get('switch-evidence-list?' + new URLSearchParams(data)).done((result) => {
            $("#evidenceList").replaceWith(result);
        }).fail()
    }
    /*]]>*/
</script>
</html>
