<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Group</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{css/group.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.4.0/js/dataTables.select.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.4.0/css/select.bootstrap5.min.css">

</head>
<body>
<header th:replace="fragments/header"></header>
<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 2000">
    <div th:each="toast, meta: ${toastsToGenerate}">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" th:id="${#ids.seq('liveToast')}" data-bs-autohide="false" data-bs-animation="false">
            <div class="toast-header">
                <strong class="me-auto" th:id="${#ids.seq('toastTitle')}"></strong>
            </div>
            <div class="toast-body" th:id="${#ids.seq('popupText')}"></div>
            <div th:id="${#ids.seq('toastInformation')}" th:text="${toast.getArtefactInformation()}" hidden="true"></div>
            <div th:id="${#ids.seq('toastArtefactName')}" th:text="${toast.getArtefactName()}" hidden="true"></div>
            <div th:id="${#ids.seq('toastArtefactId')}" th:text="${toast.getArtefactId()}" hidden="true"></div>
            <div th:id="${#ids.seq('toastUsername')}" th:text="${toast.getUsername()}" hidden="true"></div>
            <div th:id="${#ids.seq('toastFirstName')}" th:text="${toast.getUserFirstName()}" hidden="true"></div>
            <div th:id="${#ids.seq('toastLastName')}" th:text="${toast.getUserLastName()}" hidden="true"></div>
        </div>
    </div>
</div>
<!-- Toast for success of copying members to groups -->
<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 2000">
    <div class="toast hide text-white" role="alert" aria-live="assertive" aria-atomic="true" id="alertToast" data-bs-animation="true" data-bs-autohide="true" data-bs-delay="7000">
        <div class="toast-body">
            <span id="alertToastText">Hidden</span>
            <button id="toastBtn" type="button" class="btn-close btn-close-white me-2 m-auto float-end" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white card shadow">
                <a class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                    <div class="hstack gap-3 p-2 flex-grow-1" id="group_list">
                        <strong class="fs-5">Groups</strong>
                    </div>
                    <button type="button" data-bs-type="add" class="btn p-2" data-bs-toggle="modal" data-bs-target="#groupModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                        </svg>
                        Add Group
                    </button>
                </a>
                <div id="groupList" th:fragment="groupList" class="list-group list-group-flush border-bottom group-bar">
                    <div th:each="group : ${groupList}">
                        <div th:fragment="groupCard" th:id="|groupCard${group.getGroupId()}|">
                            <button  class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true" th:attr="onclick=|updateTable('${group.groupId}')|" id="updateGroupButton">
                                <div class="d-flex flex-row w-100 align-items-center justify-content-between">
                                    <strong class="mb-1" th:text="${group.shortName}"></strong>
                                    <div>
                                        <svg th:if="${group.getLongName() != 'Members without a group' && group.getLongName() != 'Teachers Group'}" id="editGroupButton" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#groupModal" th:data-bs-id="${group.getGroupId()}" th:data-bs-shortname="${group.getShortName()}" th:data-bs-longname="${group.getLongName()}" data-bs-type="edit" th:attr="onclick='editArtefact(\'' + ${group.getShortName} + '\',\'' + ${group.getGroupId()}+  '\');'">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                        </svg>
                                        <svg th:if="${group.getLongName() != 'Members without a group' && group.getLongName() != 'Teachers Group'}" id="deleteGroupButton" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#deleteModal" th:data-bs-id="${group.getGroupId()}" th:data-bs-name="${group.getShortName()}" th:data-bs-member="${group.getMembersCount()}" data-bs-type="group" >
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                        </svg>
                                    </div>
                                </div>
                                <i th:text="${group.longName}"></i>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                </svg>
                                <i th:text="${group.getMembersCount()}"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-8 sticky-md-top card shadow">
            <div id="table_refresh" th:fragment="table_refresh">
                    <div class="container">
                        <h1 th:text="${groupLongName}"></h1>
                        <h4 th:text="${groupShortName}"></h4>
                        <div class="hstack gap-3">
                            <span>Copy Users To </span>
                            <select class="form-select input-sm" aria-label="Default select example" id="groupDropdownList">
                                <option th:each="copyToGroup : ${groupList}" th:if="${group?.getGroupId() != copyToGroup.getGroupId()}" th:value="${copyToGroup.getGroupId()}" th:text="${copyToGroup.getShortName()}"></option>
                            </select>
                            <button type="button" class="btn btn-success" onclick="copyUsers()">
                                Confirm
                            </button>
                            <button type="button" class="btn btn-danger ms-auto">
                                Remove Users
                            </button>
                        </div>

                        <table class="table table-striped table-bordered display" id="table" >
                            <thead class="table-dark" id="headTable">
                            <tr>
                                <th id="firstNameColumn">First Name</th>
                                <th id="lastNameColumn">Last Name</th>
                                <th id="usernameColumn">Username</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="member : ${members}" th:id="${member.Id}">
                                <td th:text="${member.FirstName}"></td>
                                <td th:text="${member.LastName}"></td>
                                <td th:text="${member.username}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                <!--                Must have in line script here-->
                <script>
                    userTable = $('table').DataTable({searching: false, paging: true, info: false, select: true});
                </script>

            </div>
         </div>
    </div>

</div>

</body>
<div id="groupModal" th:replace="fragments/groupModal :: groupModal"></div>
<div th:replace="fragments/deleteModalProject :: deleteModal"></div>

<script src="js/group.js"></script>
<script src="js/Notification.js"></script>
<script src="js/groupLive.js"></script>
<script src="js/project.js"></script>
<script src="js/banner.js"></script>

<script th:inline="javascript">
    /**
     * Sends the message that a group is being updated, and sends the events names with it.
     */
    function sendName(artefactName, artefactId,userId, userFirstName, userLastName, username, artefactType) {
        stompClient.send("/webSocketPost/editing-group", {}, JSON.stringify({
            'artefactName': artefactName,
            'artefactId' : artefactId,
            'artefactType' : artefactType,
            'userId': userId,
            'userFirstName': userFirstName,
            'userLastName': userLastName,
            'username': username
        }));
    }

    /**
     * Sends an empty message so that the other end can realise to close any popups it may have activated.
     */
    function sendEmpty(artefactName, artefactId,userId, userFirstName, userLastName, username, artefactType) {
        stompClient.send("/webSocketPost/stop-editing-group", {}, JSON.stringify({
            'artefactName': artefactName,
            'artefactId' : artefactId,
            'userId': userId,
            'artefactType' : artefactType,
            'userFirstName': userFirstName,
            'userLastName': userLastName,
            'username': username
        }));
    }

    /**
     * Sends the message that a group has been updated (saved), and sends the events names with it.
     */
    function sendNameReload(artefactName, artefactId,userId, userFirstName, userLastName, username, artefactType) {
        stompClient.send("/webSocketPost/saved-edited-group", {}, JSON.stringify({
            'artefactName': artefactName,
            'artefactId' : artefactId,
            'userId': userId,
            'artefactType' : artefactType,
            'userFirstName': userFirstName,
            'userLastName': userLastName,
            'username': username
        }));
    }

    /**
     * Initialises functions/injections. When these are no longer being updated (edited) they will disappear after a certain period.
     */
    $(function () {
        connect();
        document.addEventListener("visibilitychange", (ignore) => {
            if (document.visibilityState !== "visible") {
                sendEmpty(selectedArtefactName, selectedArtefactId, userId, userFirstName, userLastName, username, "Group");
            }
        });
    });

    let userId = [[${userId}]];
    let userFirstName = [[${userFirstName}]];
    let userLastName = [[${userLastName}]];
    let username = [[${username}]];
    let selectedArtefactName = '';
    let selectedArtefactId = -1;

    /**
     * get the selected group to edit then set it in global variable
     */
    function editArtefact(group, id) {
        selectedArtefactName = group;
        selectedArtefactId = id;
    }

    /**
     * get the action type of the modal that is currently open
     * @param modal the modal that is currently open
     * @returns {string} the action type
     */
    function getModalActionType(modal){
        const requestURLList = document.getElementById(modal).querySelector('form').action.split('/')
        const actionTypeIndex = requestURLList.length - 2;
        return requestURLList[actionTypeIndex]

    }

    /**
     * this function is triggered when inputs on modal when being focused on (edited) will update and send a notification
     * to the details page. When these are no longer being updated (edited) they will disappear after a certain period.
     * @param inputElementName the id of the input element
     * @param modal the modal that currently open
     * @param action what action that the currently open modal does (must be editing-...)
     */
    function sendEditingLiveNotificationRequest(inputElementName, modal, action){
        $(inputElementName).on('focusin', function (ignore) {
            if (getModalActionType(modal) === action) {
                sendName(selectedArtefactName,selectedArtefactId, userId, userFirstName, userLastName, username, "Group");
            }
        }).on('focusout', function (ignore) {
            if (getModalActionType(modal) === action) {
                sendEmpty(selectedArtefactName, selectedArtefactId, userId, userFirstName, userLastName, username, "Group");
            }
        });
    }

    /**
     * send request to show the live notification's toast when an update on a milestone is saved by a user
     * this function is triggered when save button on Modal is clicked
     * @param inputElementName the id of the input element
     * @param modal the modal that currently open
     * @param action what action that the currently open modal does (must be editing-...)
     */
    function sendSavedLiveNotificationRequest(inputElementName, modal, action){
        $(inputElementName).click(function() {
            if (getModalActionType(modal) === action) {
                sendNameReload(selectedArtefactName, selectedArtefactId, userId, userFirstName, userLastName, username, "Group");
            }
        })
    }

    /**
     * send request to hide the live notification's toast when an update is saved by a user
     * this function is triggered when close button on Modal is clicked
     * @param inputElementName the id of the input element
     * @param modal the modal that currently open
     * @param action what action that the currently open modal does (must be editing-...)
     */
    function sendStopEditingLiveNotificationRequest(inputElementName, modal, action){
        $(inputElementName).click(function() {
            if (getModalActionType(modal) === action) {
                sendEmpty(selectedArtefactName, selectedArtefactId, userId, userFirstName, userLastName, username, "Group");
            }
        })
    }

    sendEditingLiveNotificationRequest('#shortGroupName', 'groupModal', 'edit-group');
    sendEditingLiveNotificationRequest("#longGroupName", 'groupModal', 'edit-group');
    sendSavedLiveNotificationRequest("#groupModalButton", 'groupModal', 'edit-group');
    sendStopEditingLiveNotificationRequest("#closeGroupModalButton", 'groupModal', 'edit-group');
</script>

<script th:inline="javascript">
    groupButtonSetup()
    groupModalSetup()
    deleteModalSetup()
    groupDeleteModalSetup()
</script>

<script>
    function updateTable(groupId) {
        const url = "groups/local?";
        $('#table_refresh').load(url, "groupId=" + groupId)
    }
</script>

<script>
    //updates characters left
    function updateCharsLeft(elementId, messageElementId, numChars) {
        let chars_left = numChars - document.getElementById(elementId).value.length;
        if (chars_left === numChars) {
            document.getElementById(messageElementId).innerText = "";
        } else if (chars_left === 1) {
            document.getElementById(messageElementId).innerText = chars_left + " character left";
        } else if (chars_left === 0) {
            document.getElementById(messageElementId).innerText = "No characters left";
        } else {
            document.getElementById(messageElementId).innerText = chars_left + " characters left";
        }
    }

    /**
     * Check if the name of the item that the user inputted is not an empty string
     * Submit the form and return true if the input is not empty string, otherwise show error banner with the error message and return false
     * @param elementId the ID of the text input HTML element for item's name
     * @param alertBanner the ID of the alert banner HTML element
     * @param alertMessage the ID of the alert banner message HTML element
     * @returns {boolean} true if the input is not empty string, otherwise false
     */
    function validateModalName(elementId, alertBanner, alertMessage) {
        const nameInput = document.getElementById(elementId).value;
        if (nameInput === "") {
            document.getElementById(alertBanner).hidden = false;
            document.getElementById(alertMessage).innerText = "Name cannot be empty!";
            return false
        } else {
            document.getElementById(alertBanner).hidden = true;
            return true
        }
    }

    async function validateGroup() {
        if (validateModalName('shortGroupName', 'groupShortNameAlertBanner', 'groupShortNameAlertMessage') &&
            validateModalName('longGroupName', 'groupLongNameAlertBanner', 'groupLongNameAlertMessage')
        ) {
            document.getElementById('groupForm').onsubmit = () => { return false };
            document.getElementById('groupForm').submit();
        };
    }

    $(`#groupCard1 button`).click() // Select members without a group

</script>


</html>