<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Group Settings</title>
    <!-- CSS only -->
    <link href="css/groupSettings.css" rel="stylesheet">
    <script src="js/groupSetting.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/groupSettingsLive.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/i18n/defaults-*.min.js"></script>
</head>
<body>
<header th:replace="fragments/header"></header>
<!-- Toast for failure to connect to GitLab API -->
<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 2000" th:if="${isConnectionSuccessful} == false">
    <div class="toast hide text-white" role="alert" aria-live="assertive" aria-atomic="true" id="alertToast" data-bs-animation="true" data-bs-autohide="true" data-bs-delay="7000">
        <div class="toast-body">
            <span id="alertToastText">Hidden</span>
            <button id="toastBtn" type="button" class="btn-close btn-close-white me-2 m-auto float-end" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 2000">
    <div th:each="toast, meta: ${toastsToGenerate}">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" th:id="${#ids.seq('liveToast')}" data-bs-autohide="false" data-bs-animation="false">
            <div class="toast-header">
                <strong class="me-auto" th:id="${#ids.seq('toastTitle')}"></strong>
            </div>
            <div class="toast-body" th:id="${#ids.seq('popupText')}"></div>
            <div th:id="${#ids.seq('toastInformation')}" th:text="${toast.getArtefactInformation()}" hidden="true"></div>
            <div th:id="${#ids.seq('toastArtefactName')}" th:text="${toast.getArtefactName()}" hidden="true"></div>
            <div th:id="${#ids.seq('toastArtefactId')}" th:text="${toast.getArtefactId()}" hidden="true"></div>
            <div th:id="${#ids.seq('toastUsername')}" th:text="${toast.getUsername()}" hidden="true"></div>
            <div th:id="${#ids.seq('toastFirstName')}" th:text="${toast.getUserFirstName()}" hidden="true"></div>
            <div th:id="${#ids.seq('toastLastName')}" th:text="${toast.getUserLastName()}" hidden="true"></div>
            <div th:id="${#ids.seq('toastAction')}" th:text="${toast.getAction()}" hidden="true"></div>
        </div>
    </div>
</div>
<!-- #object.nullSafe test if an object is null and then returns the provided value if it is.
        This used because during testing isRepoExist is null value and cause problems
        when comparing it to the boolean value of isValidToModify-->
<div class="container" id="groupSettingContainer" th:fragment="groupSetting"  th:style="${#objects.nullSafe(isRepoExist,false)} ? '' : 'width: 750px;'">
    <div class="row">
        <!-- #object.nullSafe test if an object is null and then returns the provided value if it is.
             This used because during testing isRepoExist is null value and cause problems
             when comparing it to the boolean value of isValidToModify-->
        <div th:class="${#objects.nullSafe(isRepoExist,false)} ? 'col-12 col-md-6 ps-lg-1-6 ps-xl-5 vstack gap-3' : 'ps-lg-1-6 ps-xl-5 vstack gap-3'">
            <div class="card shadow" th:fragment="groupSettingsRefresh" id="groupSettingsRefresh">
                <div class="text-start mb-1-6">
                    <div class="hstack gap-3">
                        <h2 class="h1 mt-2 fs-1 mx-3" id="groupSettingTitle">Group Setting</h2>
                        <button class="btn btn-default ms-auto mx-3" type="button" id="groupSettingEdit" th:if="${isValidToModify}" onclick="isEditing()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                                <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                            </svg>
                        </button>
                    </div>
                    <br>
                    <div class="alert alert-warning alert-dismissible fade show mx-3" role="alert" id="successMessageBanner" th:hidden="${successMessage==null}">
                        <span id="successMessage" data-test-id="alertMessage" th:text="${successMessage}"></span>
                        <button type="button" class="btn-close" onclick="document.getElementById('successMessageBanner').hidden = true" aria-label="Close"></button>
                    </div>
                    <form th:action="@{saveGroupSettings}" onsubmit="validateGroupSetting(); return false" id="groupSettingForm" method="post">
                        <div class="mb-3 mx-3">
                            <div th:fragment="groupLongNameAlertBanner" class="alert alert-danger alert-dismissible fade show" role="alert" id="groupLongNameAlertBanner" th:hidden="${groupLongNameAlertMessage==null}">
                                <span id="groupLongNameAlertMessage" data-test-id="alertMessage" th:text="${groupLongNameAlertMessage}"></span>
                                <button type="button" class="btn-close" onclick="document.getElementById('groupLongNameAlertBanner').hidden = true" aria-label="Close"></button>
                            </div>
                            <label for="longGroupName" class="col-form-label">Long Group Name:</label>
                            <input onkeyup="updateCharsLeft('longGroupName', 'longGroupNameLength', 30)" maxlength="30" type="text"
                                   class="form-control" id="longGroupName" th:name="longName" th:value="${groupLongName}" disabled>
                            <div class="name-length-message">
                                <span id="longGroupNameLength"></span>
                            </div>
                            <input type="hidden" th:value="${groupShortName}" name="groupShortName" id="groupShortName" th:name="shortName">
                        </div>
                        <br>
                        <div th:if="${isValidToModify}">
                            <h4 id="repositorySetting" class="mx-3">Repository Settings</h4>
                            <div th:fragment="groupRepoAlertBanner" class="alert alert-danger alert-dismissible fade show mx-3" role="alert" id="groupRepoAlertBanner" th:hidden="${groupRepoAlertMessage==null}">
                                <span id="groupRepoAlertMessage" data-test-id="alertMessage" th:text="${groupRepoAlertMessage}"></span>
                                <button type="button" class="btn-close" onclick="document.getElementById('groupRepoAlertBanner').hidden = true" aria-label="Close"></button>
                            </div>
                            <div th:fragment="groupSettingsAlertBanner" class="alert alert-danger alert-dismissible fade show mx-3" role="alert" id="groupSettingsAlertBanner" th:if="${isValidToModify}" th:hidden="${groupSettingsAlertMessage==null}">
                                <span id="groupSettingsAlertMessage" data-test-id="alertMessage" th:text="${groupSettingsAlertMessage}"></span>
                            </div>
                            <div class="mb-3 mx-3">
                                <label for="repoName" class="col-form-label">Repository Name:</label>
                                <input onkeyup="updateCharsLeft('repoName', 'repoNameLength', 30)" maxlength="30"
                                       type="text" class="form-control" id="repoName" th:name="repoName" th:value="${repoName}" disabled>
                                <div class="name-length-message">
                                    <span id="repoNameLength"></span>
                                </div>
                            </div>
                            <div class="mb-3 mx-3">
                                <label for="repoId" class="col-form-label">Repository ID:</label>
                                <input onkeyup="updateCharsLeft('repoId', 'repoIdLength', 9)" maxlength="9"
                                       type="text" class="form-control" id="repoId" th:name="repoId" th:value="${repoId}" th:style="${isConnectionSuccessful} ? '' : 'border-style: solid; border-color: red;'" disabled>
                                <div class="name-length-message">
                                    <span id="repoIdLength"></span>
                                </div>
                            </div>
                            <div class="mb-3 mx-3">
                                <label for="repoToken" class="col-form-label">Repository Access Token:</label>
                                <input onkeyup="updateCharsLeft('repoToken', 'repoTokenLength', 40)" maxlength="40" type="text"
                                       class="form-control" id="repoToken" th:name="repoToken" th:value="${repoApiKey}" th:style="${isConnectionSuccessful} ? '' : 'border-style: solid; border-color: red;'" disabled>
                                <div class="name-length-message">
                                    <span id="repoTokenLength"></span>
                                </div>
                            </div>
                            <div class="mb-3 mx-3">
                                <div class="hstack gap-2">
                                    <label for="repoUrl" class="col-form-label">Repository Server URL:</label>
                                    <button type="button" id="questionToolTip" class="btn" style="margin: 0; padding: 0" data-toggle="tooltip" data-bs-placement="right" title="The URL could be your Gitlab Server. For example: https://eng-git.canterbury.ac.nz">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                        </svg>
                                    </button>
                                </div>
                                <input onkeyup="updateCharsLeft('repoUrl', 'repoServerUrlLength', 100)" maxlength="100" type="text"
                                       class="form-control" id="repoUrl" th:name="repoUrl" th:value="${repoServerUrl}" disabled>
                                <div class="name-length-message">
                                    <span id="repoServerUrlLength"></span>
                                </div>
                            </div>
                            <input type="hidden" th:value="${groupId}" name="groupId" id="groupId" th:name="groupId" maxlength="10">
                            <input type="hidden" th:value="${groupSettingsId}" name="groupSettingsId" id="groupSettingsId" th:name="groupSettingsId">
                            <br>
                        </div>
                        <div class="hstack gap-3">
                            <button type="button" id="cancelButton" class="btn btn-danger ms-auto my-3" th:attr="onclick=|stopEditing('${groupId}')|" hidden>Cancel</button>
                            <button type="submit" id="saveButton" class="btn btn-success mx-3" hidden>Save</button>
                        </div>
                    </form>
                </div>
                <script>
                    $('#questionToolTip').tooltip();
                </script>
            </div>
            <div class="card shadow" style="margin-bottom: 50px">
                <div class="container">
                    <h4 id="groupMember" class="mt-3">Group Members</h4>
                    <div id="table_refresh" th:fragment="table_refresh">
                        <table class="table table-striped table-bordered display" id="table" >
                            <thead class="table-dark" id="headTable">
                            <tr>
                                <th id="firstNameColumn">First Name</th>
                                <th id="lastNameColumn">Last Name</th>
                                <th id="usernameColumn">Username</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="member : ${members}">
                                <td><span th:text="${member.FirstName}"> First Name </span></td>
                                <td><span th:text="${member.LastName}"> Last Name </span></td>
                                <td><span th:text="${member.username}"> Username </span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--                Must have in line script here-->
                <script>
                    $('table').dataTable({searching: false, paging: false, info: false, select: true});
                </script>
            </div>
            <script>
                inputValidateCheck();
            </script>
        </div>

        <!-- #object.nullSafe test if an object is null and then returns the provided value if it is.
        This used because during testing isRepoExist is null value and cause problems
        when comparing it to the boolean value of isValidToModify-->
        <div id="rightSide" class="col-6 col-md-6 sticky-md-top vstack gap-3" th:if="${#objects.nullSafe(isRepoExist,false)}">
            <div class="card shadow" style="padding: 10px">
                <div class="d-flex flex-row justify-content-between">
                    <div class="d-flex flex-row justify-content-start">
                        <h4 id="Recent Commits" class="mt-3">Repository Commits</h4>
                        <div id="spinnerBox" class="pt-2" style="margin-left: 10px">
                            <div class="spinner-border" role="status">
                                <span class="sr-only"></span>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-light" data-toggle="collapse" href="#collapseFilter" role="button" aria-expanded="false" aria-controls="collapseFilter">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                            <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                        Filter
                    </button>
                </div>
                <div class="collapse mt-3" id="collapseFilter">
                    <div class="d-flex flex-row justify-content-around">
                        <div>
                            <label for="branchNamesDropdown">Branch Name</label>
                            <select id="branchNamesDropdown" onchange="updateCommitList()"  class="dropDownSelect selectpicker" data-live-search="true" >
                                <option value="All Branches">All Branches</option>
                                <option th:each="branchName: ${branchesName}" th:text="${branchName}" th:value="${branchName}"></option>
                            </select>
                        </div>
                        <div>
                            <label for="nameDropdown">Author Name</label>
                            <select id="nameDropdown" onchange="updateCommitList()" class="dropDownSelect selectpicker" data-live-search="true" >
                                <option value="All Users">All Users</option>
                                <option th:each="contributor: ${repositoryContributors}" th:text="${contributor.getName() + ' ('+contributor.getEmail()+')'}" th:value="${contributor.getEmail()}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card shadow" style="padding: 10px; margin-bottom: 50px" >
                <div id = "commitsListRefresh" th:fragment="commitsListRefresh" class="overflow-auto" style="max-height: 500px;">
                    <div th:if="${commitList !=null and commitList.isEmpty()}">
                        <div class="card-body mt-2">
                            <h5 class="card-title">No Commits Found</h5>
                        </div>
                    </div>
                    <div class="card mb-1" th:each="commit: ${commitList}">
                        <div class="card-body mt-2">
                            <div class="d-flex flex-row">
                                <p style="margin-right: 10px">
                                    Commits
                                </p>
                                <a th:href="${commit.getWebUrl()}" th:text="${commit.getId()}"></a>
                            </div>
                            <h5 class="card-title" th:text="${commit.getTitle()}"></h5>
                            <div class="d-flex flex-row justify-content-between">
                                <p th:text="${commit.getAuthorName()}"> </p>
                                <p th:text="${#dates.format(commit.getCommittedDate(), 'dd/MMM/yyyy h:mm a')}"></p>
                            </div>
                        </div>
                    </div>
                    <script th:inline="javascript">
                        /**
                         * Update the commit list when either the selected branch name or the selected user is updated
                         */
                        function updateCommitList() {
                            console.log("filterCommitsOption clicked");
                            updatingCommitsList()
                            const data = {
                                groupId: ID,
                                branchName: $("#branchNamesDropdown").val(),
                                userEmail: $("#nameDropdown").val()
                            }
                            $.get('repository-commits?' + new URLSearchParams(data)).done((result) => {
                                $(`#commitsListRefresh`).replaceWith(result)
                                finishUpdatingCommitsList()
                                $('.dropDownSelect').selectpicker();
                            })
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/Notification.js"></script>
<script src="js/groupSettingsLive.js"></script>

<script th:inline="javascript">

    /*<![CDATA[*/
    const ID = /*[[${groupId}]]*/ "-1";
    const userId = /*[[${userId}]]*/ "-1";
    const username = /*[[${username}]]*/ "null";
    const userFirstName = /*[[${userFirstName}]]*/ "null";
    const userLastName = /*[[${userLastName}]]*/ "null";
    const groupShortName = /*[[${groupShortName}]]*/ "null";
    const isConnectionSuccessful = /*[[${isConnectionSuccessful}]]*/ "false";

    /*]]>*/

    /**
     * Calculate the number of characters left on input field
     * @param elementId the input text element
     * @param messageElementId an element to show how many characters left
     * @param numChars maximun number of characters allowed
     */
    function updateCharsLeft(elementId, messageElementId, numChars) {
        let chars_left = numChars - document.getElementById(elementId).value.length;
        if (chars_left === numChars) {
            document.getElementById(messageElementId).innerText = "";
        } else if (chars_left === 1) {
            document.getElementById(messageElementId).innerText = chars_left + " character left";
        } else if (chars_left === 0) {
            document.getElementById(messageElementId).innerText = "No characters left";
        } else {
            document.getElementById(messageElementId).innerText = chars_left + " characters left";
        }
    }

    /**
     * This function is called when the process of updating commits list is running
     * This function will disable the filtering input to prevent concurrency and display spinner
     */
    function updatingCommitsList(){
        if ($("#collapseFilter").length) {
            document.getElementById("collapseFilter").style.setProperty("pointer-events", 'none', "important");
            document.getElementById("spinnerBox").style.setProperty("visibility", 'visible', "important");
        }
    }

    /**
     * This function is called when the process of updating commits list is finished
     * This function will make the filtering usable again and hide the spinner
     */
    function finishUpdatingCommitsList(){
        if ($("#collapseFilter").length) {
            document.getElementById("collapseFilter").style.setProperty("pointer-events", '', "important");
            document.getElementById("spinnerBox").style.setProperty("visibility", 'hidden', "important");
        }
    }

    /**
     * Initialise the commit list when group settings page is loaded
     */
    function initialiseCommitsList() {
        // updatingCommitsList();
        const data = {
            groupId: ID,
            branchName : "All Branches",
            userEmail: "All Users"
        }
        $.get('repository-commits?'+new URLSearchParams(data)).done((result) => {
            $(`#commitsListRefresh`).replaceWith(result)
            updatingCommitsList();
            finishUpdatingCommitsList()
            $('.dropDownSelect').selectpicker();
        })

    }
    initialiseCommitsList()
    inputValidateCheck()


    /**
     * Enable all input fields, display 'Save' and 'Cancel' buttons and character length messages, and hide edit button.
     * Runs when edit button is clicked.
     */
    function isEditing() {
        $("#longGroupName").prop("disabled", false);
        $("#repoName").prop("disabled", false);
        $("#repoId").prop("disabled", false);
        $("#repoToken").prop("disabled", false);
        $("#repoUrl").prop("disabled", false);
        $("#saveButton").prop("hidden", false)
        $("#cancelButton").prop("hidden", false)
        $("#groupSettingEdit").prop("hidden", true)
        $("#groupSettingsAlertBanner").prop("hidden", true)
        document.getElementById('successMessageBanner').hidden = true
        $(".name-length-message").prop("hidden", false)
    }



    /**
     * Disable all input fields, hide 'Save' and 'Cancel' buttons and character length messages, and display edit button.
     * Runs when cancel button is clicked.
     */
    function stopEditing(groupId) {
        const url = "groupSettings/refreshGroupSettings";
        $('#groupSettingContainer').load(url, "groupId=" + groupId)
        initialiseCommitsList()

    }
</script>
</body>
</html>