<!--HTML PAGE FOR TEACHER PROJECT DETAIL-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${project.getName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{styles/main.css}" rel="stylesheet" />
    <link th:href="@{css/artefactListing.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="webjars/sockjs-client/1.0.2/sockjs.min.js"></script>
    <script src="webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
    <script src="webjars/jquery/3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/js/tempus-dominus.js"></script>
    <link href="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/css/tempus-dominus.css" rel="stylesheet"/>
</head>
<body>
<header th:replace="fragments/header"></header>
<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 2000">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="liveToast1" data-bs-autohide="false" data-bs-animation="false">
        <div class="toast-header">
            <strong class="me-auto" id="toastTitle1"></strong>
        </div>
        <div class="toast-body" id="popupText1"></div>
        <div id="toastInformation1" th:text="${toastEventInformation1}" hidden="true"></div>
        <div id="toastEventName1" th:text="${toastEventName1}" hidden="true"></div>
        <div id="toastEventId1" th:text="${toastEventId1}" hidden="true"></div>
        <div id="toastUsername1" th:text="${toastUsername1}" hidden="true"></div>
        <div id="toastFirstName1" th:text="${toastFirstName1}" hidden="true"></div>
        <div id="toastLastName1" th:text="${toastLastName1}" hidden="true"></div>
    </div>
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="liveToast2" data-bs-autohide="false" data-bs-animation="false">
        <div class="toast-header">
            <strong class="me-auto" id="toastTitle2"></strong>
        </div>
        <div class="toast-body" id="popupText2"></div>
        <div id="toastInformation2" th:text="${toastEventInformation2}" hidden="true"></div>
        <div id="toastEventName2" th:text="${toastEventName2}" hidden="true"></div>
        <div id="toastEventId2" th:text="${toastEventId2}" hidden="true"></div>
        <div id="toastUsername2" th:text="${toastUsername2}" hidden="true"></div>
        <div id="toastFirstName2" th:text="${toastFirstName2}" hidden="true"></div>
        <div id="toastLastName2" th:text="${toastLastName2}" hidden="true"></div>
    </div>
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="liveToast3" data-bs-autohide="false" data-bs-animation="false">
        <div class="toast-header">
            <strong class="me-auto" id="toastTitle3"></strong>
        </div>
        <div class="toast-body" id="popupText3"></div>
        <div id="toastInformation3" th:text="${toastEventInformation3}" hidden="true"></div>
        <div id="toastEventName3" th:text="${toastEventName3}" hidden="true"></div>
        <div id="toastEventId3" th:text="${toastEventId3}" hidden="true"></div>
        <div id="toastUsername3" th:text="${toastUsername3}" hidden="true"></div>
        <div id="toastFirstName3" th:text="${toastFirstName3}" hidden="true"></div>
        <div id="toastLastName3" th:text="${toastLastName3}" hidden="true"></div>
    </div>
</div>
<div class="row">
    <div class="project-header">
        <div class="title">
            <p class="title-name" th:text="${project.getName}" />
            <span id="project-date" class="badge rounded-pill bg-custom text-dark" th:text="${project.getStartDateString} + ' - ' + ${project.getEndDateString}"></span>
        </div>
        <div class="dropdown" th:if="${currentUserRole != 'student'}" style="z-index: 3000">
            <button class="edit-project-button" id="projectDropdownButton" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin: 10px">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                </svg>
            </button>
                <ul class="dropdown-menu" aria-labelledby="addActions">
                    <li>
                        <button id="editProjectButton" class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#projectModal" th:data-bs-project="${project.toJSONString()}" >
                            <span class='bi bi-pencil'></span> <i>Edit Project</i>
                        </button>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <button id="addSprintButton" class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#sprintModal" th:data-bs-sprint="${newSprint.toJSONString()}" data-bs-type="add">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                            <i>Add Sprint</i>
                        </button>
                    </li>
                    <li>
                        <button id="addEventButton" class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#eventModal" th:data-bs-event="${newEvent.toJSONString()}" data-bs-type="add">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
                                <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                            </svg>
                            <i>Add Event</i>
                        </button>
                    </li>
                    <li>
                        <button id="addMilestoneButton" class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#milestoneModal" th:data-bs-milestone="${newMilestone.toJSONString()}" data-bs-type="add">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-award" viewBox="0 0 16 16">
                                <path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z"/>
                                <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                            </svg>
                            <i>Add Milestone</i>
                        </button>
                    </li>
                    <li>
                        <button id="addDeadlineButton" class="dropdown-item" type="button"  data-bs-toggle="modal" data-bs-target="#deadlineModal" th:data-bs-deadline="${newDeadline.toJSONString()}" data-bs-type="add">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-alarm" viewBox="0 0 16 16">
                                <path d="M8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5z"/>
                                <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07a7.001 7.001 0 0 0-3.273 12.474l-.602.602a.5.5 0 0 0 .707.708l.746-.746A6.97 6.97 0 0 0 8 16a6.97 6.97 0 0 0 3.422-.892l.746.746a.5.5 0 0 0 .707-.708l-.601-.602A7.001 7.001 0 0 0 9 2.07V1h.5a.5.5 0 0 0 0-1h-3zm1.038 3.018a6.093 6.093 0 0 1 .924 0 6 6 0 1 1-.924 0zM0 3.5c0 .753.333 1.429.86 1.887A8.035 8.035 0 0 1 4.387 1.86 2.5 2.5 0 0 0 0 3.5zM13.5 1c-.753 0-1.429.333-1.887.86a8.035 8.035 0 0 1 3.527 3.527A2.5 2.5 0 0 0 13.5 1z"/>
                            </svg>
                            <i>Add Deadline</i>
                        </button>
                    </li>
                </ul>
        </div>
    </div>
    <div class="detail-block" style="margin: 20px">
        <div style="margin: 5px">
            <span class="badge rounded-pill bg-custom-desc">Project Description</span>
            <p class="project-desc" th:text="${project.getDescription}"></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-9">
        <div class="content">
            <div>
                <div class="flex-child green">
                    <p class="sprints-top">Project Sprints</p>
                    <div th:each="sprint, meta: ${sprints}">
                        <div class="sprint-block">
                            <div class="sprint-label" th:text="'Sprint-' + (${meta.index} + 1)" />
                            <div class="detail-block">
                                <div class="sprint-info-block">
                                    <div class="sprint-title" th:text="${sprint.getName}" th:style="color + ':' +  ${sprint.getColour()}" />
                                    <div class="sprint-date" th:text="${sprint.getDates}" />
                                    <div class="sprint-description" th:text="${sprint.getDescription}" />
                                </div>
                                <div class="artefact-block">
                                    <div class="btn-group artefact-button">
                                        <button class="btn" type="button" data-bs-toggle="collapse" th:attr="data-bs-target='#collapseEvent' + ${sprint.getId()}, aria-controls='collapseEvent' + ${sprint.getId()}" aria-expanded="false" >
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">-->
                                                <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                            </svg>
                                            Events
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="collapse" th:id="collapseEvent + ${sprint.getId()}">
                                        <div th:each="event, meta: ${eventsForSprints.get(meta.index)}">
                                            <div class="artefact-info-block">
                                                <div class="artefact-title" th:text="${event.getEventName()}"/>
                                                <div class="artefact-date event-start-date" th:text="From + ': ' + ${event.getStartDateDetail()}" th:style="color + ':' + ${event.getStartDateColour()}"/>
                                                <div class="artefact-date event-end-date" th:text="To + ': ' +${event.getEndDateDetail()}" th:style="color + ':' + ${event.getEndDateColour()}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="artefact-block">
                                    <div class="btn-group artefact-button">
                                        <button class="btn" type="button" data-bs-toggle="collapse" th:attr="data-bs-target='#collapseMilestone' + ${sprint.getId()}, aria-controls='collapseMilestone' + ${sprint.getId()}" aria-expanded="false" >
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-award" viewBox="0 0 16 16">
                                                <path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z"/>
                                                <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                                            </svg>
                                            Milestones
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="collapse" th:id="collapseMilestone + ${sprint.getId()}">
                                        <div th:each="milestone, meta: ${milestonesForSprints.get(meta.index)}">
                                            <div class="artefact-info-block">
                                                <div class="artefact-title" th:text="${milestone.getMilestoneName()}"/>
                                                <div class="artefact-date event-start-date" th:text="Date + ': ' + ${milestone.getMilestoneDateString()}" th:style="color + ':' + ${milestone.getColour()}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <div class="artefact-block">
                                        <div class="btn-group artefact-button">
                                            <button class="btn" type="button" data-bs-toggle="collapse" th:attr="data-bs-target='#collapseDeadline' + ${sprint.getId()}, aria-controls='collapseEvent' + ${sprint.getId()}" aria-expanded="false" >
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-alarm" viewBox="0 0 16 16">
                                                    <path d="M8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5z"/>
                                                    <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07a7.001 7.001 0 0 0-3.273 12.474l-.602.602a.5.5 0 0 0 .707.708l.746-.746A6.97 6.97 0 0 0 8 16a6.97 6.97 0 0 0 3.422-.892l.746.746a.5.5 0 0 0 .707-.708l-.601-.602A7.001 7.001 0 0 0 9 2.07V1h.5a.5.5 0 0 0 0-1h-3zm1.038 3.018a6.093 6.093 0 0 1 .924 0 6 6 0 1 1-.924 0zM0 3.5c0 .753.333 1.429.86 1.887A8.035 8.035 0 0 1 4.387 1.86 2.5 2.5 0 0 0 0 3.5zM13.5 1c-.753 0-1.429.333-1.887.86a8.035 8.035 0 0 1 3.527 3.527A2.5 2.5 0 0 0 13.5 1z"/>
                                                </svg>
                                                Deadlines
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="collapse" th:id="collapseDeadline + ${sprint.getId()}">
                                            <div th:each="deadline, meta: ${deadlinesForSprints.get(meta.index)}">
                                                <div class="artefact-info-block">
                                                    <div class="artefact-title" th:text="${deadline.getDeadlineName()}"/>
                                                    <div class="artefact-date event-start-date" th:text="From + ': ' + ${deadline.getDeadlineDateString()}" th:style="color + ':' + ${deadline.getDeadlineColour()}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="button-divider">
                                            <div class="dropdown" th:if="${currentUserRole != 'student'}">
                                                <button class="btn btn-default " type="button" id="sprintActions" data-bs-toggle="dropdown" aria-expanded="false" >
                                                    <i class='bi bi-gear-fill'></i>
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="sprintDropdownButton" style="z-index: 3000">
                                                    <li>
                                                        <a class="button-link" data-bs-toggle="modal" data-bs-target="#sprintModal" th:data-bs-sprint="${sprint.toJSONString()}" data-bs-type="edit">
                                                        <button id="editSprintButton" class="dropdown-item" type="button">
                                                                <span class='bi bi-pencil'></span> <i>Edit</i>
                                                            </button>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="button-link" data-bs-toggle="modal" data-bs-target="#deleteModal" th:data-bs-id="${sprint.id}" th:data-bs-name="${sprint.name}" data-bs-type="sprint">
                                                            <button id="deleteSprintButton" class="dropdown-item" type="button">
                                                                <span class='bi bi-trash' style='color: red'></span> <i style='color: red'>Delete</i>
                                                            </button>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-3">
                <div class="sticky-md-top">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="event-tab" data-bs-toggle="tab" data-bs-target="#event" type="button" role="tab" aria-controls="event" aria-selected="true">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
                                    <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                </svg>
                                Events
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="milestone-tab" data-bs-toggle="tab" data-bs-target="#milestone" type="button" role="tab" aria-controls="milestone" aria-selected="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-award" viewBox="0 0 16 16">
                                    <path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z"/>
                                    <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                                </svg>
                                Milestones
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="deadline-tab" data-bs-toggle="tab" data-bs-target="#deadline" type="button" role="tab" aria-controls="deadline" aria-selected="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-alarm" viewBox="0 0 16 16">
                                    <path d="M8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5z"/>
                                    <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07a7.001 7.001 0 0 0-3.273 12.474l-.602.602a.5.5 0 0 0 .707.708l.746-.746A6.97 6.97 0 0 0 8 16a6.97 6.97 0 0 0 3.422-.892l.746.746a.5.5 0 0 0 .707-.708l-.601-.602A7.001 7.001 0 0 0 9 2.07V1h.5a.5.5 0 0 0 0-1h-3zm1.038 3.018a6.093 6.093 0 0 1 .924 0 6 6 0 1 1-.924 0zM0 3.5c0 .753.333 1.429.86 1.887A8.035 8.035 0 0 1 4.387 1.86 2.5 2.5 0 0 0 0 3.5zM13.5 1c-.753 0-1.429.333-1.887.86a8.035 8.035 0 0 1 3.527 3.527A2.5 2.5 0 0 0 13.5 1z"/>
                                </svg>
                                Deadlines
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="event" role="tabpanel" aria-labelledby="event-tab">
                            <div th:each="event, meta: ${events}">
                                <div class="card card-margin" id="eventId" th:value="${event.id}">
                                    <div class="card-body pt-0">
                                        <div class="widget-49">
                                            <div class="widget-49-title-wrapper hstack">
                                                <div class="widget-49-date-primary">
                                                    <span class="widget-49-date-day" th:text="${event.getEventStartDay()}"></span>
                                                    <span class="widget-49-date-month" th:text="${event.getEventStartMonth()}" ></span>
                                                </div>
                                                <div class="widget-49-meeting-info">
                                                    <span class="widget-49-pro-title" th:text="${event.eventName}"></span>
                                                </div>
                                                <div class="ms-auto">
                                                    <div class="dropdown" th:if="${currentUserRole != 'student'}">
                                                        <button class="btn btn-default " type="button" id="eventActions" data-bs-toggle="dropdown" aria-expanded="false" >
                                                            <i class='bi bi-gear-fill'></i>
                                                        </button>
                                                        <ul class="dropdown-menu" aria-labelledby="eventActions">
                                                            <li>
                                                                <a class="button-link" data-bs-toggle="modal" data-bs-target="#eventModal" th:data-bs-event="${event.toJSONString()}" data-bs-type="edit">
                                                                    <button id="editEventButton" class="dropdown-item" type="button">
                                                                        <span class='bi bi-pencil'></span> <i>Edit</i>
                                                                    </button>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="button-link" data-bs-toggle="modal" data-bs-target="#deleteModal" th:data-bs-id="${event.id}" th:data-bs-name="${event.eventName}" data-bs-type="event">
                                                                    <button class="dropdown-item" type="button">
                                                                        <span class='bi bi-trash' style='color: red'></span> <i style='color: red'>Delete</i>
                                                                    </button>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <ol class="widget-49-meeting-points">
                                                <span class="widget-49-meeting-item" th:text="From + ': ' + ${event.getStartDateDetail()}" th:style="color + ':' +  ${event.getStartDateColour()}"></span>
                                            </ol>
                                            <ol class="widget-49-meeting-points">
                                                <span class="widget-49-meeting-item" th:style="color + ':' + ${event.getEndDateColour()}"  th:text="To + ': ' + ${event.getEndDateDetail()} "></span>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="milestone" role="tabpanel" aria-labelledby="milestone-tab">
                            <div th:each="milestone, meta: ${milestones}">
                                <div class="card card-margin" id="milestoneId" th:value="${milestone.id}">
                                    <div class="card-body pt-0">
                                        <div class="widget-49">
                                            <div class="widget-49-title-wrapper hstack">
                                                <div class="widget-49-date-primary">
                                                    <span class="widget-49-date-day" th:text="${milestone.getMilestoneDay()}"></span>
                                                    <span class="widget-49-date-month" th:text="${milestone.getMilestoneMonth()}" ></span>
                                                </div>
                                                <div class="widget-49-meeting-info">
                                                    <span class="widget-49-pro-title" th:text="${milestone.milestoneName}"></span>
                                                </div>
                                                <div class="ms-auto">
                                                    <div class="dropdown" th:if="${currentUserRole != 'student'}">
                                                        <button class="btn btn-default " type="button" id="milestoneActions" data-bs-toggle="dropdown" aria-expanded="false" >
                                                            <i class='bi bi-gear-fill' id="milestoneActionsIcon"></i>
                                                        </button>
                                                        <ul class="dropdown-menu" aria-labelledby="milestoneActions">
                                                            <li>
                                                                <a class="button-link" data-bs-toggle="modal" data-bs-target="#milestoneModal" th:data-bs-milestone="${milestone.toJSONString()}" data-bs-type="edit">
                                                                    <button id="editMilestoneButton" class="dropdown-item" type="button" th:attr="onclick='editMilestone(\'' + ${milestone.getMilestoneName()} + '\',\'' + ${milestone.getId()}+  '\');'">
                                                                        <span class='bi bi-pencil'></span> <i>Edit</i>
                                                                    </button>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="button-link" data-bs-toggle="modal" data-bs-target="#deleteModal" th:data-bs-id="${milestone.id}" th:data-bs-name="${milestone.milestoneName}" data-bs-type="milestone">
                                                                    <button class="dropdown-item" type="button">
                                                                        <span class='bi bi-trash' style='color: red'></span> <i style='color: red'>Delete</i>
                                                                    </button>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <ol class="widget-49-meeting-points">
                                                <span class="widget-49-meeting-item" th:text="Date + ': ' + ${milestone.getMilestoneDateString()}" th:style="color + ':' +  ${milestone.getColour()}"></span>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="tab-pane fade" id="deadline" role="tabpanel" aria-labelledby="deadline-tab">
                        <div th:each="deadline, meta: ${deadlines}">
                            <div class="card card-margin" id="deadlineId" th:value="${deadline.id}">
                                <div class="card-body pt-0">
                                    <div class="widget-49">
                                        <div class="widget-49-title-wrapper hstack">
                                            <div class="widget-49-date-primary">
                                                <span class="widget-49-date-day" th:text="${deadline.getDeadlineDay()}"></span>
                                                <span class="widget-49-date-month" th:text="${deadline.getDeadlineMonth()}" ></span>
                                            </div>
                                            <div class="widget-49-meeting-info">
                                                <span class="widget-49-pro-title" th:text="${deadline.getDeadlineName}"></span>
                                            </div>
                                            <div class="ms-auto">
                                                <div class="dropdown" th:if="${currentUserRole != 'student'}">
                                                    <button class="btn btn-default " type="button" id="deadlineActions" data-bs-toggle="dropdown" aria-expanded="false" >
                                                        <i class='bi bi-gear-fill'></i>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="deadlineActions">
                                                        <li>
                                                            <a class="button-link" data-bs-toggle="modal" data-bs-target="#deadlineModal" th:data-bs-deadline="${deadline.toJSONString()}" data-bs-type="edit">
                                                                <button id="editDeadlineButton" class="dropdown-item" type="button" th:attr="onclick='editDeadline(\'' + ${deadline.getDeadlineName()} + '\',\'' + ${deadline.getId()}+  '\');'">
                                                                    <span class='bi bi-pencil'></span> <i>Edit</i>
                                                                </button>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="button-link" data-bs-toggle="modal" data-bs-target="#deleteModal" th:data-bs-id="${deadline.id}" th:data-bs-name="${deadline.deadlineName}" data-bs-type="deadline">
                                                                <button class="dropdown-item" type="button">
                                                                    <span class='bi bi-trash' style='color: red'></span> <i style='color: red'>Delete</i>
                                                                </button>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <ol class="widget-49-meeting-points">
                                            <span class="widget-49-meeting-item" th:style="color + ':' + ${deadline.getDeadlineColour()}" th:text="Date + ': ' + ${deadline.getDeadlineDateString()}"></span>
                                        </ol>
                                        <ol class="widget-49-meeting-points">
                                            <span class="widget-49-meeting-item" th:text="Time + ': ' + ${deadline.getDeadlineTimeString()}"></span>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Modals -->
<div id="sprintModal" th:replace="fragments/sprintModal :: sprintModal"></div>
<div id="projectModal" th:replace="fragments/projectModal :: projectModal"></div>
<div id="milestoneModal" th:replace="fragments/milestoneModal :: milestoneModal"></div>
<div id="deadlineModal" th:replace="fragments/deadlineModal :: deadlineModal"></div>
<div id="eventModal" th:replace="fragments/eventModal :: eventModal"></div>
<div th:replace="fragments/deleteModalProject :: deleteModal"></div>

    </div>
</body>
<script src="js/project.js"></script>
<script src="js/detailsLive.js"></script>

<script th:inline="javascript">
    /**
     * Sends the message that an event is being updated, and sends the events names with it.
     */
    function sendName(artefactName, artefactId,userId, userFirstName, userLastName, username, artefactType) {
        stompClient.send("/test/portfolio/app/editing-artefact", {}, JSON.stringify({
            'artefactName': artefactName,
            'artefactId' : artefactId,
            'artefactType' : artefactType,
            'userId': userId,
            'userFirstName': userFirstName,
            'userLastName': userLastName,
            'username': username
        }));
    }

    /**
     * Sends an empty message so that the other end can realise to close any popups it may have activated.
     */
    function sendEmpty(artefactName, artefactId,userId, userFirstName, userLastName, username, artefactType) {
        stompClient.send("/test/portfolio/app/stop-editing-artefact", {}, JSON.stringify({
            'artefactName': artefactName,
            'artefactId' : artefactId,
            'userId': userId,
            'artefactType' : artefactType,
            'userFirstName': userFirstName,
            'userLastName': userLastName,
            'username': username
        }));
    }

    /**
     * Sends the message that an event has been updated (saved), and sends the events names with it.
     */
    function sendNameReload(artefactName, artefactId,userId, userFirstName, userLastName, username, artefactType) {
        stompClient.send("/test/portfolio/app/saved-edited-artefact", {}, JSON.stringify({
            'artefactName': artefactName,
            'artefactId' : artefactId,
            'userId': userId,
            'artefactType' : artefactType,
            'userFirstName': userFirstName,
            'userLastName': userLastName,
            'username': username
        }));
    }

    let userId = [[${userId}]];
    let userFirstName = [[${userFirstName}]];
    let userLastName = [[${userLastName}]];
    let username = [[${username}]];
    let milestoneName = '';
    let milestoneId = -1;
    let deadlineName = '';
    let deadlineId = -1;

    /**
     * Initialises functions/injections. When these are no longer being updated (edited) they will disappear after a certain period.
     */
    $(function () {
        connect();
        document.addEventListener("visibilitychange", (ignore) => {
            if (document.visibilityState !== "visible") {
                sendEmpty(milestoneName, milestoneId,userId, userFirstName, userLastName, username, "Milestone");
            }
        });
    });

    /**
     * get the selected milestone to edit then set it in global variable
     */
    function editMilestone(milestone, id){
        milestoneName = milestone;
        milestoneId = id;
    }

    function editDeadline(deadline, id) {
        deadlineName = deadline;
        deadlineId = id;
    }

    /**
     * All inputs on milestone modal when being focused on (edited) will update and send a notification
     * to the details page. When these are no longer being updated (edited) they will disappear after a certain period.
    */
    $("#milestoneName").on('focusin', function (ignore) {
        const actionType = document.getElementById('milestoneModal').querySelector('form').action.split('/')[3]; //getting the type of the request, this is necessary as same modal is being used for both adding and editing milestone
        if(actionType === 'edit-milestone'){
            sendName(milestoneName,milestoneId,userId, userFirstName, userLastName, username, "Milestone");
        }
    }).on('focusout', function (ignore) {
        const actionType = document.getElementById('milestoneModal').querySelector('form').action.split('/')[3]; //getting the type of the request, this is necessary as same modal is being used for both adding and editing milestone
        if(actionType === 'edit-milestone'){
            sendEmpty(milestoneName, milestoneId,userId, userFirstName, userLastName, username, "Milestone");
        }
    });
    $("#milestoneDate").on('focusin', function (ignore) {
        const actionType = document.getElementById('milestoneModal').querySelector('form').action.split('/')[3]; //getting the type of the request, this is necessary as same modal is being used for both adding and editing milestone
        if(actionType === 'edit-milestone'){
            sendName(milestoneName,milestoneId,userId, userFirstName, userLastName, username, "Milestone");
        }
    }).on('focusout', function (ignore) {
        const actionType = document.getElementById('milestoneModal').querySelector('form').action.split('/')[3]; //getting the type of the request, this is necessary as same modal is being used for both adding and editing milestone
        if(actionType === 'edit-milestone'){
            sendEmpty(milestoneName, milestoneId,userId, userFirstName, userLastName, username, "Milestone");
        }
    });

    /**
     * send request to show the live notification's toast when an update on a milestone is saved by a user
     * this function is triggered when save button on Milestone Modal is clicked
     */
    $("#milestoneModalButton").click(function() {
        const actionType = document.getElementById('milestoneModal').querySelector('form').action.split('/')[3]; //getting the type of the request, this is necessary as same modal is being used for both adding and editing milestone
        if(actionType === 'edit-milestone'){
            sendNameReload(milestoneName, milestoneId,userId, userFirstName, userLastName, username, "Milestone");
        }
    })

    /**
     * send request to hide the live notification's toast when an update on a milestone is saved by a user
     * this function is triggered when close button on Milestone Modal is clicked
     */
    $("#closeMilestoneModalButton").click(function() {
        const actionType = document.getElementById('milestoneModal').querySelector('form').action.split('/')[3];
        if(actionType === 'edit-milestone'){
            sendEmpty(milestoneName, milestoneId,userId, userFirstName, userLastName, username, "Milestone");
        }
    })
</script>


<script>
    /**
     * All inputs on deadline modal when being focused on (edited) will update and send a notification
     * to the details page. When these are no longer being updated (edited) they will disappear after a certain period.
     */
    $("#deadlineName").on('focusin', function (ignore) {
        const actionType = document.getElementById("deadlineModal").querySelector('form').action.split('/')[3];
        if (actionType === 'edit-deadline') {
            sendName(deadlineName, deadlineId, userId, userFirstName, userLastName, username, 'Deadline');
        }
    }).on('focusout', function (ignore) {
        const actionType = document.getElementById('deadlineModal').querySelector('form').action.split('/')[3]; //getting the type of the request, this is necessary as same modal is being used for both adding and editing deadline
        if(actionType === 'edit-deadline'){
            sendEmpty(deadlineName, deadlineId,userId, userFirstName, userLastName, username, "Deadline");
        }
    });

    $("#deadlineDate").on('focusin', function (ignore) {
        const actionType = document.getElementById('deadlineModal').querySelector('form').action.split('/')[3]; //getting the type of the request, this is necessary as same modal is being used for both adding and editing deadline
        if(actionType === 'edit-deadline'){
            sendName(deadlineName,deadlineId,userId, userFirstName, userLastName, username, "Deadline");
        }
    }).on('focusout', function (ignore) {
        const actionType = document.getElementById('deadlineModal').querySelector('form').action.split('/')[3]; //getting the type of the request, this is necessary as same modal is being used for both adding and editing deadline
        if(actionType === 'edit-deadline'){
            sendEmpty(deadlineName, deadlineId,userId, userFirstName, userLastName, username, "Deadline");
        }
    });

    $("#deadlineTime").on('focusin', function (ignore) {
        const actionType = document.getElementById('deadlineModal').querySelector('form').action.split('/')[3]; //getting the type of the request, this is necessary as same modal is being used for both adding and editing deadline
        if(actionType === 'edit-deadline'){
            sendName(deadlineName,deadlineId,userId, userFirstName, userLastName, username, "Deadline");
        }
    }).on('focusout', function (ignore) {
        const actionType = document.getElementById('deadlineModal').querySelector('form').action.split('/')[3]; //getting the type of the request, this is necessary as same modal is being used for both adding and editing deadline
        if(actionType === 'edit-deadline'){
            sendEmpty(deadlineName, deadlineId,userId, userFirstName, userLastName, username, "Deadline");
        }
    });

    /**
     * send request to show the live notification's toast when an update on a deadline is saved by a user
     * this function is triggered when save button on Deadline Modal is clicked
     */
    $("#deadlineModalButton").click(function() {
        const actionType = document.getElementById('deadlineModal').querySelector('form').action.split('/')[3]; //getting the type of the request, this is necessary as same modal is being used for both adding and editing deadline
        if(actionType === 'edit-deadline'){
            sendNameReload(deadlineName, deadlineId,userId, userFirstName, userLastName, username, "Deadline");
        }
    })

    /**
     * send request to hide the live notification's toast when an update on a deadline is saved by a user
     * this function is triggered when close button on Deadline Modal is clicked
     */
    $("#closeDeadlineModalButton").click(function() {
        const actionType = document.getElementById('deadlineModal').querySelector('form').action.split('/')[3];
        if(actionType === 'edit-deadline'){
            sendEmpty(deadlineName, deadlineId,userId, userFirstName, userLastName, username, "Deadline");
        }
    })

</script>

<script>
    //updates characters left
    function updateCharsLeft(elementId, messageElementId, numChars) {
        let chars_left = numChars - document.getElementById(elementId).value.length;
        if (chars_left === numChars) {
            document.getElementById(messageElementId).innerText = "";
        } else if (chars_left === 1) {
            document.getElementById(messageElementId).innerText = chars_left + " character left";
        } else if (chars_left === 0) {
            document.getElementById(messageElementId).innerText = "No characters left";
        } else {
            document.getElementById(messageElementId).innerText = chars_left + " characters left";
        }
    }
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    let projectEndDate = /*[[${project.getEndDateString()}]]*/ "Error";
    let projectStartDate = /*[[${project.getStartDateString()}]]*/ "Error";
    /*]]>*/

    // Check if the name of the item that the user inputted is not an empty string
    // Submit the form and return true if the input is not empty string, otherwise show error banner with the error message and return false
    // @param elementId the ID of the text input HTML element for item's name
    // @param formId the ID of the form which contains the input HTML element
    function validateModalName(elementId, alertBanner, alertMessage) {
        const nameInput = document.getElementById(elementId).value;
        if (nameInput === "") {
            document.getElementById(alertBanner).hidden = false;
            document.getElementById(alertMessage).innerText = "Name cannot be empty!";
            return false
        } else {
            document.getElementById(alertBanner).hidden = true;
            return true
        }
    }
    /**
     * Check if the date of the item that the user inputted is within the project dates range
     * Show error banner with error message and disable the submit button if the inputted date is outside the project dates range
     * @param elementId the ID of the date input HTML element
     * @param submitElementId the ID of the submit button on the modal
     * @param alertBanner the ID of the banner element that will display the alert message
     * @param alertMessage the ID of the alert message element
     */
    function validateModalDate(elementId, submitElementId, alertBanner, alertMessage) {
        if (!checkEmpty(elementId, 'Date', submitElementId, alertBanner, alertMessage)) {
            return false
        }
        const dateInput = new Date(document.getElementById(elementId).value);
        return checkDate(dateInput, submitElementId, alertBanner, alertMessage)
    }

    // Check if the date of the item that the user inputted is within the project dates range
    // Show error banner with error message and disable the submit button if the inputted date is outside the project dates range
    // @param elementId the ID of the date input HTML element
    // @param submitElementId the ID of the submit button on the modal
    function validateModalDateTimeRange(dateStartId, dateEndId, submitElementId, alertBanner, alertMessage) {
        if (!checkEmpty(dateStartId, 'Start date', submitElementId, alertBanner, alertMessage)) {
            return false
        }
        if (!checkEmpty(dateEndId, 'End date', submitElementId, alertBanner, alertMessage)) {
            return false
        }
        const dateStartInput = new Date(`${document.getElementById(dateStartId).value}`)
        const dateEndInput = new Date(`${document.getElementById(dateEndId).value}`)

        if (dateStartInput >= dateEndInput) {
            $('#' + submitElementId).prop('disabled', true);
            document.getElementById(alertBanner).hidden = false;
            document.getElementById(alertMessage).innerText = "The start date must be before the end date.";
            return false;
        }

        if (dateStartInput < new Date(projectStartDate) || dateEndInput > new Date(projectEndDate)) {
            $('#' + submitElementId).prop('disabled', true);
            document.getElementById(alertBanner).hidden = false;
            document.getElementById(alertMessage).innerText = "Dates must be within the project's date range (" +
                projectStartDate + " - " + projectEndDate + ").";
            return false;
        } else {
            $('#' + submitElementId).prop('disabled', false);
            document.getElementById(alertBanner).hidden = true;
            return true;
        }
    }

    /**
     * Returns true if the user has entered a valid date and time, otherwise false
     * @param dateId id of element with date
     * @param timeId id of element with time
     * @param submitElementId id of element for submitting the modal
     * @param alertBanner id of element that displays an error message
     * @param alertMessage id of element that stores the error message
     * @returns {boolean} true if valid date and time, otherwise false
     */
    function validateModalDateTime(dateId, timeId, submitElementId, alertBanner, alertMessage) {
        if (!checkEmpty(dateId, 'Date', submitElementId, alertBanner, alertMessage)) {
            return false
        }
        if (!checkEmpty(timeId, 'Time', submitElementId, alertBanner, alertMessage)) {
            return false
        }
        const dateInput = new Date(`${document.getElementById(dateId).value}  ${document.getElementById(timeId).value} :00`)
        return checkDate(dateInput, submitElementId, alertBanner, alertMessage)
    }

    /**
     * Returns true if the user has entered a valid date (and maybe time), otherwise false.
     * A valid date is one that is within the project date range.
     * @param date date to check
     * @param submitElementId id of element for submitting the modal
     * @param alertBanner id of element that displays an error message
     * @param alertMessage id of element that stores the error message
     * @returns {boolean} true if valid date and time, otherwise false
     */
    function checkDate(date, submitElementId, alertBanner, alertMessage) {
        if (date < new Date(projectStartDate) || date > new Date(projectEndDate)) {
            $('#' + submitElementId).prop('disabled', true);
            document.getElementById(alertBanner).hidden = false;
            document.getElementById(alertMessage).innerText = "Date must be within the project's date range (" +
                projectStartDate + " - " + projectEndDate + ").";
            return false;
        } else {
            $('#' + submitElementId).prop('disabled', false);
            document.getElementById(alertBanner).hidden = true;
            return true;
        }
    }

    /**
     * Checks that the element with the given id isn't empty. If it is, it displays an error message and disables the
     * submit button. Returns true if it is not empty, otherwise false.
     * @param id id of element to check
     * @param type type of value the element stores (displayed at start of error message)
     * @param submitElementId id of element for submitting the modal
     * @param alertBanner id of element that displays an error message
     * @param alertMessage id of element that stores the error message
     * @returns {boolean} true if it is not empty, otherwise false
     */
    function checkEmpty(id, type, submitElementId, alertBanner, alertMessage) {
        if (document.getElementById(id).value === "") {
            $('#' + submitElementId).prop('disabled', true);
            document.getElementById(alertBanner).hidden = false;
            document.getElementById(alertMessage).innerText = `${type} must not be empty!`;
            return false;
        }
        return true;
    }

    sprintModalSetup()
    projectModalSetup()
    milestoneModalSetup()
    eventModalSetup()
    deadlineModalSetup()
    deleteModalSetup()
</script>

</html>