<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/projectDetailsCSS.css}"/>
</head>
<body>

<div id="projectBox">
    <div style="overflow-x:auto;">
        <table>
            <thead>
            <tr>
                <th scope="col"> Name </th>
                <th scope="col"> Start Date </th>
                <th scope="col"> End Date </th>
                <th scope="col"> Description </th>
            </tr>
            </thead>
            <tbody>
            <!-- Checks to see if there are any sprints present -->
            <tr th:if="${#lists.isEmpty(projectList)}">
                <td>Project 2022</td>
                <td>09/03/2022</td>
                <td>09/11/2022</td>
                <td>Description</td>

            </tr>
            <tr th:each = "currProject : ${projectList}">
                <td th:text="${currProject.name}"> </td>
                <td th:text="${currProject.startDate}"> </td>
                <td th:text="${currProject.endDate}"> </td>
                <td th:text="${currProject.description}"> </td>
            </tr>
            </tbody>
        </table>
        <button th:if="${userRole} == 'teacher'" onclick="editProjectDetails()"> Edit Project Details </button>
    </div>

    <!-- On submission of the form it will update the sprint object and post to /saveSprint. -->
    <div class="form-popup" id="projectForm">
        <form class="form-container" id="projectFormContainer" action="#" th:action="@{/saveProject}" method="post">
            <h1>Edit Project Details</h1>

            <label> Project Name:
                <input type="text" th:placeholder="SENG303"  th:field="${project.name}" name="projectName" required>
            </label>

            <label> Enter Start Date and End Date:
                <input type="date" placeholder="Enter Start Date" th:field ="${project.startDate}" name="startDateField"  id="projectStartDate" required>
                <input type="date" placeholder="Enter End Date" th:field ="${project.endDate}" name="endDateField" id="projectEndDate" required>
            </label>
            <label> Enter Project Description:
                <input type="text" placeholder="Project Description" th:field="${project.description}" name="projectDescription" required>
            </label>
            <button type="submit" id="projectSubmitBtn" class="btn">Create</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
        </form>
    </div>
</div>

    <script>
        function editProjectDetails() {
            document.getElementById("projectForm").style.display = "block";
        }

        function closeForm() {
          document.getElementById("projectForm").style.display = "none";
        }

        function addSprint() {
            document.getElementById("sprintForm").style.display = "block";
        }

        function closeSprint() {
            document.getElementById("sprintForm").style.display = "none";
        }
    </script>

<br>
<div id="sprintBox">
    <button th:if="${userRole} == 'teacher'" onclick="addSprint()"> Add Sprint </button>
    <div style="overflow-x:auto;">
        <table>
            <thead>
                <tr>
                    <th scope="col"> Name </th>
                    <th scope="col"> Start Date </th>
                    <th scope="col"> End Date </th>
                    <th scope="col"> Description </th>
                    <th scope="col"> Action </th>
                </tr>
            </thead>
            <tbody>
            <!-- Checks to see if there are any sprints present -->
                <tr th:if="${#lists.isEmpty(sprintList)}">
                    <td colspan="4"> No Sprints Created!</td>
                </tr>
                <tr th:each = "currSprint : ${sprintList}">
                    <td th:text="${currSprint.name}"> </td>
                    <td th:text="${currSprint.startDate}"> </td>
                    <td th:text="${currSprint.endDate}"> </td>
                    <td th:text="${currSprint.description}"> </td>
                    <td>
                        <form th:action="@{/editSprint}" th:object="${editSprint}" method="post">
                            <input type="hidden" name="name" th:value="${currSprint.name}">
                            <input type="hidden" name="startDate" th:value="${currSprint.startDate}">
                            <input type="hidden" name="endDate" th:value="${currSprint.endDate}">
                            <input type="hidden" name="description" th:value="${currSprint.description}">
                            <input type="hidden" name="labelNum" th:value="${currSprint.labelNum}">
                            <input type="hidden" name="projectName" th:value="${currSprint.projectName}">
                            <button type="submit">Edit</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- On submission of the form it will update the sprint object and post to /saveSprint. -->
    <div class="form-popup" id="sprintForm">
        <form class="form-container" id="sprintFormContainer" action="#" th:action="@{/saveSprint}" method="post">
            <h1>Create New Sprint</h1>

            <label> Sprint Name:
                <input type="text" th:placeholder="Sprint-1"  th:field="${sprint.name}" name="sprintNumber" required>
            </label>

            <label> Enter Start Date and End Date:
                <input type="date" placeholder="Enter Start Date" th:field ="${sprint.startDate}" name="startDateField"  id="startDate" required>
                <input type="date" placeholder="Enter End Date" th:field ="${sprint.endDate}" name="endDateField" id="endDate" required>
            </label>
            <label> Enter Sprint Description:
                <input type="text" placeholder="Sprint Description" th:field="${sprint.description}" name="sprintDescription" required>
            </label>
            <button type="submit" id="submitBtn" class="btn">Create</button>
            <button type="button" class="btn cancel" onclick="closeSprint()">Cancel</button>
        </form>
    </div>
</div>
<br>
</body>
</html>