<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${project.getName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body class="body">

<div class="top">
    <header class="p-3 mb-3 border-bottom">

        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
                </a>
                <!--     Add Logo here   -->
                <a class="navbar-brand" href="#">
                    <img th:src="@{img/T100Logo.png}" alt="" width="40" height="40">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><form>
                        <div>
                            <input type="hidden" th:value="${userId}" name="userId">
                            <button type="submit" class="btn btn-link" id="" style="color:black;text-decoration: none;" >  <a href="/details" class="nav-link px-2 link-secondary">Projects</a>
                            </button>
                        </div>
                    </form></li>
                </ul>


                <div class="dropdown text-end" style="display: flex; flex-direction: row; align-items: center;">
                    <h6 th:text="${fullName}" style="margin-right: 5px;padding-top: 5px"></h6>
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" >
                        <img th:src="@{img/img.png}" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                        <li>
                            <form th:action="@{/backToAccountPage}" method="post">
                                <div>
                                    <input type="hidden" th:value="${userId}" name="userId">
                                    <button type="submit" class="btn btn-link" id="btn_prof" style="color:black;text-decoration: none;" >Profile</button>
                                </div>
                            </form>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/login">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </header>


    <div class="header">
        <div class="title">
            <p class="title-name" th:text="${project.getName}" />
            <span class="badge rounded-pill bg-custom text-dark" th:text="${project.getStartDateString} + ' - ' + ${project.getEndDateString}"></span>
        </div>
        <button class="edit-project-button">
            <a th:href="@{'/edit-project'}">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                </svg>
            </a>
        </button>
    </div>
</div>

<div class="content">
    <div class="detail-block">
        <div>
            <span class="badge rounded-pill bg-custom-desc">Project Description</span>
            <p class="project-desc" th:text="${project.getDescription}"></p>
        </div>
    </div>
    <p class="sprints-top">Project Sprints</p>
    <div th:each="sprint, meta: ${sprints}">
        <div class="sprint-block">
            <div class="sprint-label" th:text="'Sprint-' + (${meta.index} + 1)" />
            <div class="detail-block">
                <div>
                    <div class="sprint-title" th:text="${sprint.getName}" />
                    <div class="sprint-date" th:text="${sprint.getDates}" />
                    <div class="sprint-description" th:text="${sprint.getDescription}" />
                </div>
                <div>
                    <button class="edit-button">
                        <a th:href="@{/edit-sprint/{id} (id=${sprint.id})}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                        </svg>
                        </a>
                    </button>
                    <button id="deleteBtn" class="delete-button">
                        <a th:href="@{/delete-sprint/{id} (id=${sprint.id})}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                        </svg>
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <button class="add-sprint">
        <a th:href="@{/add-sprint}">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
        </a>
        Add Sprint
    </button>
</div>

<script>
    function settingsMenuToggle(){
        const settingMenu = document.querySelector(".setting-menu");
        settingMenu.classList.toggle('setting-menu-height');
        settingMenu.addEventListener('click', function(){event.stopPropagation()})
    }
</script>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>