<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${project.getName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
<div class="header">
    <div class="title">
        <p class="title-name" th:text="${project.getName}" />
        <p class="title-date" th:text="${project.getStartDateString} + ' - ' + ${project.getEndDateString}" />
    </div>
</div>
<div class="content">
    <div class="detail-block" th:text="${project.getDescription}" />
    <hr/>
    <div th:each="sprint: ${sprints}">
        <div class="sprint-block">
            <div class="sprint-label" th:text="${sprint.getLabel}" />
            <div class="detail-block">
                <div>
                <div class="sprint-title" th:text="${sprint.getName}" />
                <div class="sprint-date" th:text="${sprint.getStartDateString} + ' - ' + ${sprint.getEndDateString}" />
                <div class="sprint-description" th:text="${sprint.getDescription}" />
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>